In [12]:
# Open the file in read mode and read lines
with open("datasets/iso_codes.csv", "r") as file:
    lines = file.readlines()

# Remove trailing commas
lines = [line.rstrip(",\n") + "\n" for line in lines]

# Open the file in write mode and write cleaned lines
with open("datasets/iso_codes.csv", "w") as file:
    file.writelines(lines)

In [8]:
import pandas as pd
from functools import reduce

# Read in the datasets
noc_regions_data = pd.read_csv("datasets/noc_regions.csv")
iso_data = pd.read_csv("datasets/iso_codes.csv")

In [9]:
iso_data

   ISO                  name
0  ABW                 Aruba
1  AFG           Afghanistan
2  AGO                Angola
3  AIA              Anguilla
4  ALA         Åland Islands
5  ALB               Albania
6  AND               Andorra
7  ARE  United Arab Emirates
8  ARG             Argentina
9  ARM               Armenia

In [3]:
# get the number of rows for each dataset
print("Number of rows in noc_regions.csv: ", noc_regions_data.shape[0])
print("Number of rows in regions_iso.csv: ", iso_data.shape[0])

Number of rows in noc_regions.csv:  245
Number of rows in regions_iso.csv:  249

In [4]:
# Merge the dataframes
merged_data = pd.merge(
    iso_data, noc_regions_data, left_on="name", right_on="region", how="left"
)

# Rename the columns for clarity
merged_data = merged_data.rename(
    columns={"NOC": "noc", "noc_full": "noc_full", "region": "region"}
)

In [5]:
merged_data

,ISO,name,Unnamed: 2,noc,noc_full,region,notes
0,ABW,Aruba,NaN,ARU,Aruba,Aruba,NaN
1,AFG,Afghanistan,NaN,AFG,Islamic Republic of Afghanistan,Afghanistan,NaN
2,AGO,Angola,NaN,ANG,Angola,Angola,NaN
3,AIA,Anguilla,NaN,NaN,NaN,NaN,NaN
4,ALA,Åland Islands,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
259,YEM,Yemen,NaN,YMD,South Yemen,Yemen,South Yemen
260,ZAF,South Africa,NaN,RSA,South Africa,South Africa,NaN
261,ZMB,Zambia,NaN,ZAM,Zambia,Zambia,NaN
262,ZWE,Zimbabwe,NaN,RHO,Zimbabwe,Zimbabwe,NaN
263,ZWE,Zimbabwe,NaN,ZIM,Zimbabwe,Zimbabwe,NaN

In [6]:
merged_data.to_csv("datasets/merged_data.csv", index=False)