In [37]:
import pandas as pd
from functools import reduce

# Read in the datasets
hdi_data = pd.read_csv("datasets/human-development-index-cleaned.csv")
income_data = pd.read_csv("datasets/gross-national-income-per-capita-cleaned.csv")
schooling_data = pd.read_csv("datasets/expected-years-of-schooling-cleaned.csv")
population_data = pd.read_csv("datasets/population_total_long-cleaned.csv")

population_data = population_data.rename(columns={"Country Name": "Entity"})

merged_data = reduce(
    lambda left, right: pd.merge(
        left, right, on=["Entity", "Code", "Year"], how="outer"
    ),
    [hdi_data, income_data, population_data, schooling_data],
)

merged_data

,Entity,Code,Year,Human Development Index (UNDP),"GNI per capita, PPP (constant 2017 international $)",Count,Expected Years of Schooling (years)
0,Afghanistan,AFG,1960,NaN,NaN,8996973.0,NaN
1,Afghanistan,AFG,1961,NaN,NaN,9169410.0,NaN
2,Afghanistan,AFG,1962,NaN,NaN,9351441.0,NaN
3,Afghanistan,AFG,1963,NaN,NaN,9543205.0,NaN
4,Afghanistan,AFG,1964,NaN,NaN,9744781.0,NaN
...,...,...,...,...,...,...,...
13638,Zimbabwe,ZWE,2014,0.525,2901.298513,13586681.0,10.3
13639,Zimbabwe,ZWE,2015,0.529,2858.616749,13814629.0,10.3
13640,Zimbabwe,ZWE,2016,0.532,2884.156050,14030390.0,10.3
13641,Zimbabwe,ZWE,2017,0.535,3207.887558,14236745.0,10.3
13642,Zimbabwe,ZWE,2018,NaN,3262.224759,NaN,NaN

In [34]:
# get all unique values in the code column
codes = merged_data["Code"].unique()
len(codes)

238

In [35]:
merged_data["Entity"].nunique()

238

In [11]:
# get the number of rows with unrealistic values for year
print(final_data[final_data["Year"] < 1800].shape[0])  # 0

5298