In [1]:
import pandas as pd
from functools import reduce

# Read in the datasets
noc_regions_data = pd.read_csv("datasets/noc_regions.csv")
iso_data = pd.read_csv("datasets/iso_codes.csv")

In [2]:
# get the number of rows for each dataset
print("Number of rows in noc_regions.csv: ", noc_regions_data.shape[0])
print("Number of rows in regions_iso.csv: ", iso_data.shape[0])

Number of rows in noc_regions.csv:  230
Number of rows in regions_iso.csv:  249

In [3]:
# Merge the dataframes
merged_data = pd.merge(
    iso_data, noc_regions_data, left_on="name", right_on="region", how="left"
)

# Rename the columns for clarity
merged_data = merged_data.rename(
    columns={"NOC": "noc", "noc_full": "noc_full", "region": "region"}
)

In [4]:
merged_data

     ISO           name  noc        region        notes
0    ABW          Aruba  ARU         Aruba          NaN
1    AFG    Afghanistan  AFG   Afghanistan          NaN
2    AGO         Angola  ANG        Angola          NaN
3    AIA       Anguilla  NaN           NaN          NaN
4    ALA  Åland Islands  NaN           NaN          NaN
..   ...            ...  ...           ...          ...
258  YEM          Yemen  YMD         Yemen  South Yemen
259  ZAF   South Africa  RSA  South Africa          NaN
260  ZMB         Zambia  ZAM        Zambia          NaN
261  ZWE       Zimbabwe  RHO      Zimbabwe          NaN
262  ZWE       Zimbabwe  ZIM      Zimbabwe          NaN

[263 rows x 5 columns]

In [5]:
merged_data.to_csv("datasets/merged_data.csv", index=False)