In [1]:
import pandas as pd

# load csvs
idh = pd.read_csv("datasets/human-development-index-cleaned.csv")
schooling = pd.read_csv("datasets/expected-years-of-schooling-cleaned.csv")
gni = pd.read_csv("datasets/gross-national-income-per-capita-cleaned.csv")
population = pd.read_csv("datasets/population_total_long-cleaned.csv")
alpha3 = pd.read_csv("datasets/iso_noc-merged.csv")

In [2]:
data_merged = population.merge(
    idh[["Year", "Code", "Human Development Index (UNDP)"]],
    on=["Year", "Code"],
    how="left",
)
data_merged = data_merged.merge(
    schooling[["Year", "Code", "Expected Years of Schooling (years)"]],
    on=["Year", "Code"],
    how="left",
)
data_merged = data_merged.merge(
    gni[["Year", "Code", "GNI per capita, PPP (constant 2017 international $)"]],
    on=["Year", "Code"],
    how="left",
)

In [3]:
data_merged

,Country Name,Year,Count,Code,Human Development Index (UNDP),Expected Years of Schooling (years),"GNI per capita, PPP (constant 2017 international $)"
0,Aruba,1960,54211,ABW,NaN,NaN,NaN
1,Afghanistan,1960,8996973,AFG,NaN,NaN,NaN
2,Angola,1960,5454933,AGO,NaN,NaN,NaN
3,Albania,1960,1608800,ALB,NaN,NaN,NaN
4,Andorra,1960,13411,AND,NaN,NaN,NaN
...,...,...,...,...,...,...,...
12590,Kosovo,2017,1830700,XKX,NaN,NaN,NaN
12591,"Yemen, Rep.",2017,27834821,YEM,0.452,9.0,NaN
12592,South Africa,2017,57000451,ZAF,0.699,13.3,12320.426838
12593,Zambia,2017,16853688,ZMB,0.588,12.5,3330.552717
12594,Zimbabwe,2017,14236745,ZWE,0.535,10.3,3207.887558

In [4]:
# entradas de aruba en la columna country name 36750,  105366
data_merged[data_merged["Code"] == "ABW"]

,Country Name,Year,Count,Code,Human Development Index (UNDP),Expected Years of Schooling (years),"GNI per capita, PPP (constant 2017 international $)"
0,Aruba,1960,54211,ABW,NaN,NaN,NaN
216,Aruba,1961,55438,ABW,NaN,NaN,NaN
432,Aruba,1962,56225,ABW,NaN,NaN,NaN
648,Aruba,1963,56695,ABW,NaN,NaN,NaN
864,Aruba,1964,57032,ABW,NaN,NaN,NaN
1080,Aruba,1965,57360,ABW,NaN,NaN,NaN
1296,Aruba,1966,57715,ABW,NaN,NaN,NaN
1512,Aruba,1967,58055,ABW,NaN,NaN,NaN
1728,Aruba,1968,58386,ABW,NaN,NaN,NaN
1944,Aruba,1969,58726,ABW,NaN,NaN,NaN
2160,Aruba,1970,59063,ABW,NaN,NaN,NaN
2376,Aruba,1971,59440,ABW,NaN,NaN,NaN
2592,Aruba,1972,59840,ABW,NaN,NaN,NaN
2808,Aruba,1973,60243,ABW,NaN,NaN,NaN
3024,Aruba,1974,60528,ABW,NaN,NaN,NaN
3240,Aruba,1975,60657,ABW,NaN,NaN,NaN
3456,Aruba,1976,60586,ABW,NaN,NaN,NaN
3672,Aruba,1977,60366,ABW,NaN,NaN,NaN
3888,Aruba,1978,60103,ABW,NaN,NaN,NaN
4104,Aruba,1979,59980,ABW,NaN,NaN,NaN
4320,Aruba,1980,60096,ABW,NaN,NaN,NaN
4536,Aruba,1981,60567,ABW,NaN,NaN,NaN
4752,Aruba,1982,61345,ABW,NaN,NaN,NaN
4968,Aruba,1983,62201,ABW,NaN,NaN,NaN
5184,Aruba,1984,62836,ABW,NaN,NaN,NaN
5400,Aruba,1985,63026,ABW,NaN,NaN,NaN
5616,Aruba,1986,62644,ABW,NaN,NaN,NaN
5832,Aruba,1987,61833,ABW,NaN,NaN,NaN
6048,Aruba,1988,61079,ABW,NaN,NaN,NaN
6264,Aruba,1989,61032,ABW,NaN,NaN,NaN
6480,Aruba,1990,62149,ABW,NaN,NaN,NaN
6698,Aruba,1991,64622,ABW,NaN,NaN,NaN
6916,Aruba,1992,68235,ABW,NaN,NaN,NaN
7133,Aruba,1993,72504,ABW,NaN,NaN,NaN
7350,Aruba,1994,76700,ABW,NaN,NaN,NaN
7567,Aruba,1995,80324,ABW,NaN,NaN,NaN
7785,Aruba,1996,83200,ABW,NaN,NaN,NaN
8003,Aruba,1997,85451,ABW,NaN,NaN,NaN
8221,Aruba,1998,87277,ABW,NaN,NaN,NaN
8440,Aruba,1999,89005,ABW,NaN,NaN,NaN
8659,Aruba,2000,90853,ABW,NaN,NaN,NaN
8878,Aruba,2001,92898,ABW,NaN,NaN,NaN
9097,Aruba,2002,94992,ABW,NaN,NaN,NaN
9316,Aruba,2003,97017,ABW,NaN,NaN,NaN
9535,Aruba,2004,98737,ABW,NaN,NaN,NaN
9754,Aruba,2005,100031,ABW,NaN,NaN,NaN
9973,Aruba,2006,100834,ABW,NaN,NaN,NaN
10192,Aruba,2007,101222,ABW,NaN,NaN,NaN
10411,Aruba,2008,101358,ABW,NaN,NaN,NaN
10630,Aruba,2009,101455,ABW,NaN,NaN,NaN
10849,Aruba,2010,101669,ABW,NaN,NaN,NaN
11068,Aruba,2011,102046,ABW,NaN,NaN,NaN
11287,Aruba,2012,102560,ABW,NaN,NaN,NaN
11505,Aruba,2013,103159,ABW,NaN,NaN,NaN
11723,Aruba,2014,103774,ABW,NaN,NaN,NaN
11941,Aruba,2015,104341,ABW,NaN,NaN,NaN
12159,Aruba,2016,104872,ABW,NaN,NaN,NaN
12377,Aruba,2017,105366,ABW,NaN,NaN,36750.398094

In [5]:
# save to csv file
data_merged.to_csv("datasets/country-data-merged.csv", index=False)