In [1]:
import pandas as pd

hdi_data = pd.read_csv("datasets/human-development-index.csv")
hdi_data.head()

        Entity Code  Year  Human Development Index (UNDP)
0  Afghanistan  AFG  1980                           0.228
1  Afghanistan  AFG  1985                           0.273
2  Afghanistan  AFG  2002                           0.373
3  Afghanistan  AFG  2003                           0.383
4  Afghanistan  AFG  2004                           0.398

In [2]:
# get all entries with nan values in Code
hdi_data[hdi_data["Code"].isna()]

     Entity Code  Year  Human Development Index (UNDP)
2390  Korea  NaN  1990                           0.728
2391  Korea  NaN  1991                           0.739
2392  Korea  NaN  1992                           0.746
2393  Korea  NaN  1993                           0.756
2394  Korea  NaN  1994                           0.767
2395  Korea  NaN  1995                           0.778
2396  Korea  NaN  1996                           0.789
2397  Korea  NaN  1997                           0.800
2398  Korea  NaN  1998                           0.797
2399  Korea  NaN  1999                           0.808
2400  Korea  NaN  2000                           0.817
2401  Korea  NaN  2001                           0.824
2402  Korea  NaN  2002                           0.832
2403  Korea  NaN  2003                           0.839
2404  Korea  NaN  2004                           0.847
2405  Korea  NaN  2005                           0.855
2406  Korea  NaN  2006                           0.862
2407  Korea  NaN  2007                           0.869
2408  Korea  NaN  2008                           0.874
2409  Korea  NaN  2009                           0.869
2410  Korea  NaN  2010                           0.884
2411  Korea  NaN  2011                           0.888
2412  Korea  NaN  2012                           0.890
2413  Korea  NaN  2013                           0.893
2414  Korea  NaN  2014                           0.896
2415  Korea  NaN  2015                           0.898
2416  Korea  NaN  2016                           0.900
2417  Korea  NaN  2017                           0.903

In [3]:
# get all entries with "Korea" in the country name
hdi_data[hdi_data["Entity"].str.contains("Korea")]

           Entity Code  Year  Human Development Index (UNDP)
2390        Korea  NaN  1990                           0.728
2391        Korea  NaN  1991                           0.739
2392        Korea  NaN  1992                           0.746
2393        Korea  NaN  1993                           0.756
2394        Korea  NaN  1994                           0.767
2395        Korea  NaN  1995                           0.778
2396        Korea  NaN  1996                           0.789
2397        Korea  NaN  1997                           0.800
2398        Korea  NaN  1998                           0.797
2399        Korea  NaN  1999                           0.808
2400        Korea  NaN  2000                           0.817
2401        Korea  NaN  2001                           0.824
2402        Korea  NaN  2002                           0.832
2403        Korea  NaN  2003                           0.839
2404        Korea  NaN  2004                           0.847
2405        Korea  NaN  2005                           0.855
2406        Korea  NaN  2006                           0.862
2407        Korea  NaN  2007                           0.869
2408        Korea  NaN  2008                           0.874
2409        Korea  NaN  2009                           0.869
2410        Korea  NaN  2010                           0.884
2411        Korea  NaN  2011                           0.888
2412        Korea  NaN  2012                           0.890
2413        Korea  NaN  2013                           0.893
2414        Korea  NaN  2014                           0.896
2415        Korea  NaN  2015                           0.898
2416        Korea  NaN  2016                           0.900
2417        Korea  NaN  2017                           0.903
4154  South Korea  KOR  1980                           0.622
4155  South Korea  KOR  1985                           0.680
4156  South Korea  KOR  1990                           0.728
4157  South Korea  KOR  1991                           0.739
4158  South Korea  KOR  1992                           0.746
4159  South Korea  KOR  1993                           0.756
4160  South Korea  KOR  1994                           0.767
4161  South Korea  KOR  1995                           0.778
4162  South Korea  KOR  1996                           0.789
4163  South Korea  KOR  1997                           0.800
4164  South Korea  KOR  1998                           0.797
4165  South Korea  KOR  1999                           0.808
4166  South Korea  KOR  2000                           0.817
4167  South Korea  KOR  2001                           0.824
4168  South Korea  KOR  2002                           0.832
4169  South Korea  KOR  2003                           0.839
4170  South Korea  KOR  2004                           0.847
4171  South Korea  KOR  2005                           0.855
4172  South Korea  KOR  2006                           0.862
4173  South Korea  KOR  2007                           0.869
4174  South Korea  KOR  2008                           0.874
4175  South Korea  KOR  2009                           0.869
4176  South Korea  KOR  2010                           0.884
4177  South Korea  KOR  2011                           0.888
4178  South Korea  KOR  2012                           0.890
4179  South Korea  KOR  2013                           0.893
4180  South Korea  KOR  2014                           0.896
4181  South Korea  KOR  2015                           0.898
4182  South Korea  KOR  2016                           0.900
4183  South Korea  KOR  2017                           0.903

In [4]:
# Replace all entries with exactly "Korea" in Entity with "North Korea"
mask = hdi_data["Entity"] == "Korea"
hdi_data.loc[mask, "Entity"] = "North Korea"

# Get all entries with "Korea" in the country name
hdi_data[hdi_data["Entity"].str.contains("Korea")]

           Entity Code  Year  Human Development Index (UNDP)
2390  North Korea  NaN  1990                           0.728
2391  North Korea  NaN  1991                           0.739
2392  North Korea  NaN  1992                           0.746
2393  North Korea  NaN  1993                           0.756
2394  North Korea  NaN  1994                           0.767
2395  North Korea  NaN  1995                           0.778
2396  North Korea  NaN  1996                           0.789
2397  North Korea  NaN  1997                           0.800
2398  North Korea  NaN  1998                           0.797
2399  North Korea  NaN  1999                           0.808
2400  North Korea  NaN  2000                           0.817
2401  North Korea  NaN  2001                           0.824
2402  North Korea  NaN  2002                           0.832
2403  North Korea  NaN  2003                           0.839
2404  North Korea  NaN  2004                           0.847
2405  North Korea  NaN  2005                           0.855
2406  North Korea  NaN  2006                           0.862
2407  North Korea  NaN  2007                           0.869
2408  North Korea  NaN  2008                           0.874
2409  North Korea  NaN  2009                           0.869
2410  North Korea  NaN  2010                           0.884
2411  North Korea  NaN  2011                           0.888
2412  North Korea  NaN  2012                           0.890
2413  North Korea  NaN  2013                           0.893
2414  North Korea  NaN  2014                           0.896
2415  North Korea  NaN  2015                           0.898
2416  North Korea  NaN  2016                           0.900
2417  North Korea  NaN  2017                           0.903
4154  South Korea  KOR  1980                           0.622
4155  South Korea  KOR  1985                           0.680
4156  South Korea  KOR  1990                           0.728
4157  South Korea  KOR  1991                           0.739
4158  South Korea  KOR  1992                           0.746
4159  South Korea  KOR  1993                           0.756
4160  South Korea  KOR  1994                           0.767
4161  South Korea  KOR  1995                           0.778
4162  South Korea  KOR  1996                           0.789
4163  South Korea  KOR  1997                           0.800
4164  South Korea  KOR  1998                           0.797
4165  South Korea  KOR  1999                           0.808
4166  South Korea  KOR  2000                           0.817
4167  South Korea  KOR  2001                           0.824
4168  South Korea  KOR  2002                           0.832
4169  South Korea  KOR  2003                           0.839
4170  South Korea  KOR  2004                           0.847
4171  South Korea  KOR  2005                           0.855
4172  South Korea  KOR  2006                           0.862
4173  South Korea  KOR  2007                           0.869
4174  South Korea  KOR  2008                           0.874
4175  South Korea  KOR  2009                           0.869
4176  South Korea  KOR  2010                           0.884
4177  South Korea  KOR  2011                           0.888
4178  South Korea  KOR  2012                           0.890
4179  South Korea  KOR  2013                           0.893
4180  South Korea  KOR  2014                           0.896
4181  South Korea  KOR  2015                           0.898
4182  South Korea  KOR  2016                           0.900
4183  South Korea  KOR  2017                           0.903

In [5]:
# add "PRK" as the code for North Korea
mask = hdi_data["Entity"] == "North Korea"
hdi_data.loc[mask, "Code"] = "PRK"

# Get all entries with nan values in code
hdi_data[hdi_data["Code"].isna()]

Empty DataFrame
Columns: [Entity, Code, Year, Human Development Index (UNDP)]
Index: []

In [6]:
hdi_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 4 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Entity                          5001 non-null   object
 1   Code                            5001 non-null   object
 2   Year                            5001 non-null   int64
 3   Human Development Index (UNDP)  5001 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 156.4+ KB

In [7]:
# get all rows prior to 1990
old_data = hdi_data[hdi_data["Year"] < 1990]
old_data

           Entity Code  Year  Human Development Index (UNDP)
0     Afghanistan  AFG  1980                           0.228
1     Afghanistan  AFG  1985                           0.273
18        Albania  ALB  1980                           0.625
19        Albania  ALB  1985                           0.623
126     Argentina  ARG  1980                           0.675
...           ...  ...   ...                             ...
4884      Vietnam  VNM  1985                           0.479
4941       Zambia  ZMB  1980                           0.418
4942       Zambia  ZMB  1985                           0.409
4971     Zimbabwe  ZWE  1980                           0.437
4972     Zimbabwe  ZWE  1985                           0.498

[216 rows x 4 columns]

In [8]:
hdi_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 4 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Entity                          5001 non-null   object
 1   Code                            5001 non-null   object
 2   Year                            5001 non-null   int64
 3   Human Development Index (UNDP)  5001 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 156.4+ KB

In [9]:
# save the translated data to a new file
hdi_data.to_csv("datasets/human-development-index-cleaned.csv", index=False)

In [10]:
from statistics_calc import descriptors, translate_descriptors

# Generate descriptors
desc = descriptors(hdi_data)

# Translate the descriptors to Spanish
desc = translate_descriptors(desc)

# Export the DataFrame to a CSV file
desc.to_csv("descriptors/hdi-quantitative.csv", decimal=",")

desc

                            Year  Human Development Index (UNDP)
Total de valores     5001.000000                     5001.000000
Media                2003.407119                        0.651761
Desviación estándar     8.954743                        0.167121
Valor mínimo         1980.000000                        0.190000
Q1                   1997.000000                        0.524000
Q2                   2004.000000                        0.677000
Q3                   2011.000000                        0.781000
Q4                   2017.000000                        0.953000
Asimetría              -0.422293                       -0.394236
Curtosis               -0.513055                       -0.694236
RIC                    14.000000                        0.257000

In [11]:
from statistics_calc import qualitative_stats

# Columnas cualitativas de interés
cols_cualitativas = hdi_data.select_dtypes(include=["object"]).columns

# Generate statistics
estadisticas = qualitative_stats(hdi_data, cols_cualitativas)

# Guardar datos en un archivo CSV
estadisticas.to_csv("descriptors/hdi-qualitative.csv", index=False, decimal=",")

# Mostrar el DataFrame de estadísticas
estadisticas

,Columna,Moda,Moda (#),Moda (%),Total de valores,Valores unicos (#),Valores unicos (%),Valores nulos (%)
1,Entity,Albania,30,0.59988,5001,190,3.79924,0.0
2,Code,ALB,30,0.59988,5001,190,3.79924,0.0

In [12]:
from statistics_calc import generate_domain_df

# Generate statistics
domain_df = generate_domain_df(hdi_data)

# Guardar datos en un archivo CSV
domain_df.to_csv("descriptors/hdi-domain.csv", index=False, decimal=",")

# Mostrar el DataFrame de estadísticas
domain_df

                          Columna  Dominio
0                          Entity      190
1                            Code      190
2                            Year       30
3  Human Development Index (UNDP)      702

In [13]:
from statistics_calc import generate_range_df

range_df = generate_range_df(hdi_data)

# save to file
range_df.to_csv("descriptors/hdi-range.csv", index=False, decimal=",")

range_df

                          Columna          Rango
0                            Year   (1980, 2017)
1  Human Development Index (UNDP)  (0.19, 0.953)