In [1]:
import pandas as pd

hdi_data = pd.read_csv("datasets/human-development-index.csv")
hdi_data.head()

        Entity Code  Year  Human Development Index (UNDP)
0  Afghanistan  AFG  1980                           0.228
1  Afghanistan  AFG  1985                           0.273
2  Afghanistan  AFG  2002                           0.373
3  Afghanistan  AFG  2003                           0.383
4  Afghanistan  AFG  2004                           0.398

In [2]:
# Set all rows with the year 1980 and 1985 to null
hdi_data.loc[hdi_data["Year"].isin([1980, 1985]), :] = None
hdi_data.head()

        Entity  Code    Year  Human Development Index (UNDP)
0         None  None     NaN                             NaN
1         None  None     NaN                             NaN
2  Afghanistan   AFG  2002.0                           0.373
3  Afghanistan   AFG  2003.0                           0.383
4  Afghanistan   AFG  2004.0                           0.398

In [3]:
# save the translated data to a new file
hdi_data.to_csv("datasets/human-development-index-cleaned.csv", index=False)

In [2]:
hdi_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 4 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Entity                          5001 non-null   object
 1   Code                            4973 non-null   object
 2   Year                            5001 non-null   int64
 3   Human Development Index (UNDP)  5001 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 156.4+ KB

In [6]:
from statistics_calc import descriptors, translate_descriptors

# Generate descriptors
desc = descriptors(hdi_data)

# Translate the descriptors to Spanish
desc = translate_descriptors(desc)

# Export the DataFrame to a CSV file
desc.to_csv("descriptors/hdi-quantitative.csv", decimal=",")

desc

                             Año  Índice de Desarrollo Humano (PNUD)
Total de valores     4785.000000                         4785.000000
Media                2004.346708                            0.656113
Desviación estándar     7.942411                            0.165862
Valor mínimo         1990.000000                            0.199000
Q1                   1998.000000                            0.530000
Q2                   2005.000000                            0.682000
Q3                   2011.000000                            0.785000
Q4                   2017.000000                            0.953000
Asimetría              -0.141035                           -0.398903
Curtosis               -1.134335                           -0.700782
RIC                    13.000000                            0.255000

In [8]:
from statistics_calc import qualitative_stats

# Columnas cualitativas de interés
cols_cualitativas = ["Entidad", "Código"]

# Generate statistics
estadisticas = qualitative_stats(hdi_data, cols_cualitativas)

# Guardar datos en un archivo CSV
estadisticas.to_csv("descriptors/hdi-qualitative.csv", index=False, decimal=",")

# Mostrar el DataFrame de estadísticas
estadisticas

,Columna,Moda,Moda (#),Moda (%),Total de valores,Valores unicos (#),Valores unicos (%),Valores nulos (%)
1,Entidad,Albania,28,0.559888,4785,190,3.799240,4.319136
2,Código,ALB,28,0.559888,4757,189,3.779244,4.879024

In [5]:
# count the number of missing values in each column
missing = hdi_data.isnull().sum()
missing = missing[missing > 0]
missing.sort_values(inplace=True)
missing

Code    28
dtype: int64

In [2]:
# Count the number of unique values in each column
unique_values = hdi_data.nunique()

# Convert the Series to a DataFrame
unique_values_df = unique_values.to_frame().reset_index()

# Rename the columns
unique_values_df.columns = ["Columna", "Dominio"]

# Save the DataFrame to a CSV file
unique_values_df.to_csv("descriptors/hdi_unique_values.csv", index=False, decimal=".")
unique_values_df

                          Columna  Dominio
0                          Entity      190
1                            Code      189
2                            Year       30
3  Human Development Index (UNDP)      702

In [2]:
# count the number of cells with missing values
total_cells = hdi_data.size
missing_cells = hdi_data.isnull().sum().sum()
missing_cells

28

In [3]:
# drop the rows with nan values in the code column
hdi_data = hdi_data.dropna(subset=["Code"])

# count the number of cells
total_cells = hdi_data.size
total_cells

19892