In [1]:
import pandas as pd

national_income_data = pd.read_csv("IDH/gross-national-income-per-capita.csv")
national_income_data.head()

,Entity,Code,Year,"GNI per capita, PPP (constant 2017 international $)"
0,Afghanistan,AFG,2017,2085.487571
1,Africa Eastern and Southern,NaN,1990,2554.595257
2,Africa Eastern and Southern,NaN,1991,2495.966953
3,Africa Eastern and Southern,NaN,1992,2421.787983
4,Africa Eastern and Southern,NaN,1993,2397.012790

In [2]:
national_income_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5108 entries, 0 to 5107
Data columns (total 4 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Entity                                               5108 non-null   object
 1   Code                                                 3930 non-null   object
 2   Year                                                 5108 non-null   int64
 3   GNI per capita, PPP (constant 2017 international $)  5108 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 159.8+ KB

In [3]:
from statistics_calc import descriptors

# Generate descriptors
desc = descriptors(national_income_data)

# Export the DataFrame to a CSV file
desc.to_csv("descriptors/income.csv", decimal=",")

desc

                 Year  GNI per capita, PPP (constant 2017 international $)
count     5108.000000                                        5108.000000
mean      2006.272905                                       16214.757852
std          8.573295                                       16924.432425
min       1990.000000                                         416.032660
25%       1999.000000                                        3594.229805
50%       2007.000000                                       10029.822354
75%       2014.000000                                       23289.224641
max       2020.000000                                      112322.248180
skewness    -0.194268                                           1.590910
kurtosis    -1.108965                                           2.484584
IQR         15.000000                                       19694.994836

In [5]:
from statistics_calc import qualitative_stats

# Columnas cualitativas de interés
cols_cualitativas = ["Entity", "Code"]

# Generate statistics
estadisticas = qualitative_stats(national_income_data, cols_cualitativas)

# Guardar datos en un archivo CSV
estadisticas.to_csv("descriptors/income_quality.csv", index=False, decimal=",")

# Mostrar el DataFrame de estadísticas
estadisticas

c:\Users\alvar\VSCode Projects\IN\statistics_calc.py:50: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  estadisticas = pd.concat([estadisticas, nueva_fila], ignore_index=True)

,Columna,Moda,Moda (#),Moda (%),Valores unicos (#),Valores unicos (%),Valores nulos (%)
0,Entity,Africa Eastern and Southern,31,0.606891,235,4.600626,0.000000
1,Code,ARG,31,0.606891,194,3.797964,23.061864

In [9]:
# count the number of missing values in each column
missing = national_income_data.isnull().sum()
missing = missing[missing > 0]
missing.sort_values(inplace=True)
missing

Code    1178
dtype: int64