# Data load

In [1]:
import pandas as pd


def custom_formatter(x):
    if x % 1 == 0:
        return f"{x:.0f}"
    else:
        return f"{x:.2f}"


pd.options.display.float_format = custom_formatter

ol_data = pd.read_csv("datasets/olympics.csv")
ol_data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170,60,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29,179,89,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27,176,59,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27,176,59,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30,185,96,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34,185,96,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [2]:
ol_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

# Clean up

In [3]:
cities_countries = {
    "Barcelona": "Spain",
    "London": "United Kingdom",
    "Antwerpen": "Belgium",
    "Paris": "France",
    "Calgary": "Canada",
    "Albertville": "France",
    "Lillehammer": "Norway",
    "Los Angeles": "United States",
    "Salt Lake City": "United States",
    "Helsinki": "Finland",
    "Lake Placid": "United States",
    "Sydney": "Australia",
    "Atlanta": "United States",
    "Stockholm": "Sweden",
    "Sochi": "Russia",
    "Nagano": "Japan",
    "Torino": "Italy",
    "Beijing": "China",
    "Rio de Janeiro": "Brazil",
    "Athina": "Greece",
    "Squaw Valley": "United States",
    "Innsbruck": "Austria",
    "Sarajevo": "Bosnia and Herzegovina",
    "Mexico City": "Mexico",
    "Munich": "Germany",
    "Seoul": "South Korea",
    "Berlin": "Germany",
    "Oslo": "Norway",
    "Cortina d'Ampezzo": "Italy",
    "Melbourne": "Australia",
    "Roma": "Italy",
    "Amsterdam": "Netherlands",
    "Montreal": "Canada",
    "Moskva": "Russia",
    "Tokyo": "Japan",
    "Vancouver": "Canada",
    "Grenoble": "France",
    "Sapporo": "Japan",
    "Chamonix": "France",
    "St. Louis": "United States",
    "Sankt Moritz": "Switzerland",
    "Garmisch-Partenkirchen": "Germany",
}

# Map the Ciudad column to the NOC codes
ol_data["Host country"] = ol_data["City"].map(cities_countries)

# Define the new column order
column_order = ol_data.columns.tolist()
ciudad_index = column_order.index("City")
column_order.insert(
    ciudad_index + 1, column_order.pop(column_order.index("Host country"))
)

# Create a new DataFrame with the columns in the desired order
ol_data = ol_data[column_order]
ol_data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Host country,Sport,Event,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,1992 Summer,1992,Summer,Barcelona,Spain,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170,60,China,CHN,2012 Summer,2012,Summer,London,United Kingdom,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Belgium,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,France,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Canada,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
# Read the noc_regions.csv file into a pandas DataFrame
noc_regions = pd.read_csv("datasets/noc_regions.csv")

# Select only the NOC and region columns from noc_regions
noc_regions = noc_regions[["NOC", "noc_full", "region"]]

# Merge the original DataFrame (ol_data) with the noc_regions DataFrame
# The merge is done based on the "NOC" column
# The "how='left'" part means that all the rows from ol_data and only the ones from noc_regions that match will be kept
ol_data = ol_data.merge(noc_regions, on="NOC", how="left")

# Rename the 'noc_full' column
ol_data = ol_data.rename(columns={"noc_full": "NOC full", "region": "Region"})

# Display the first few rows of the resulting DataFrame
ol_data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Host country,Sport,Event,Medal,NOC full,Region
0,1,A Dijiang,M,24,180,80,China,CHN,1992 Summer,1992,Summer,Barcelona,Spain,Basketball,Basketball Men's Basketball,NaN,China,China
1,2,A Lamusi,M,23,170,60,China,CHN,2012 Summer,2012,Summer,London,United Kingdom,Judo,Judo Men's Extra-Lightweight,NaN,China,China
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Belgium,Football,Football Men's Football,NaN,Denmark,Denmark
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,France,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,Denmark
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Canada,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,Netherlands

In [5]:
# Define the new column order
column_order = ol_data.columns.tolist()
noc_index = column_order.index("NOC")
column_order.insert(noc_index + 1, column_order.pop(column_order.index("NOC full")))
column_order.insert(noc_index + 2, column_order.pop(column_order.index("Region")))

# Create a new DataFrame with the columns in the desired order
ol_data = ol_data[column_order]
ol_data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,NOC full,Region,Games,Year,Season,City,Host country,Sport,Event,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,China,China,1992 Summer,1992,Summer,Barcelona,Spain,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170,60,China,CHN,China,China,2012 Summer,2012,Summer,London,United Kingdom,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,Denmark,Denmark,1920 Summer,1920,Summer,Antwerpen,Belgium,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,Denmark,Denmark,1900 Summer,1900,Summer,Paris,France,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,Netherlands,Netherlands,1988 Winter,1988,Winter,Calgary,Canada,Speed Skating,Speed Skating Women's 500 metres,NaN

In [6]:
import pycountry


# Function to return the alpha_3 country code
def get_country_code(country_name):
    if isinstance(country_name, str):
        try:
            return pycountry.countries.get(name=country_name).alpha_3
        except AttributeError:
            return None
    else:
        return None


# Apply the function to the 'region' column to create the 'code' column
ol_data["Region (ISO)"] = ol_data["Region"].apply(get_country_code)

# Apply the function to the 'pais anfitrion' column to create the 'code' column
ol_data["Host country (ISO)"] = ol_data["Host country"].apply(get_country_code)

ol_data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,NOC full,Region,Games,Year,Season,City,Host country,Sport,Event,Medal,Region (ISO),Host country (ISO)
0,1,A Dijiang,M,24,180,80,China,CHN,China,China,1992 Summer,1992,Summer,Barcelona,Spain,Basketball,Basketball Men's Basketball,NaN,CHN,ESP
1,2,A Lamusi,M,23,170,60,China,CHN,China,China,2012 Summer,2012,Summer,London,United Kingdom,Judo,Judo Men's Extra-Lightweight,NaN,CHN,GBR
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,Denmark,Denmark,1920 Summer,1920,Summer,Antwerpen,Belgium,Football,Football Men's Football,NaN,DNK,BEL
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,Denmark,Denmark,1900 Summer,1900,Summer,Paris,France,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,DNK,FRA
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,Netherlands,Netherlands,1988 Winter,1988,Winter,Calgary,Canada,Speed Skating,Speed Skating Women's 500 metres,NaN,NLD,CAN

In [7]:
# Get a list of the column names
cols = ol_data.columns.tolist()

# Move the 'RegiÃ³n (ISO)' column to the right of the 'RegiÃ³n' column
cols.insert(cols.index("Region") + 1, cols.pop(cols.index("Region (ISO)")))

# Move the 'Pais anfitriÃ³n (ISO)' column to the right of the 'Pais anfitriÃ³n' column
cols.insert(cols.index("Host country") + 1, cols.pop(cols.index("Host country (ISO)")))

# Reorder the DataFrame
ol_data = ol_data[cols]

ol_data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,NOC full,Region,Region (ISO),Games,Year,Season,City,Host country,Host country (ISO),Sport,Event,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,China,China,CHN,1992 Summer,1992,Summer,Barcelona,Spain,ESP,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170,60,China,CHN,China,China,CHN,2012 Summer,2012,Summer,London,United Kingdom,GBR,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,Denmark,Denmark,DNK,1920 Summer,1920,Summer,Antwerpen,Belgium,BEL,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,Denmark,Denmark,DNK,1900 Summer,1900,Summer,Paris,France,FRA,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,Netherlands,Netherlands,NLD,1988 Winter,1988,Winter,Calgary,Canada,CAN,Speed Skating,Speed Skating Women's 500 metres,NaN

In [8]:
ol_data["Region"].nunique()

211

In [9]:
# add a Entidad column that is read from another file, based on the noc code
entidades = pd.read_csv("datasets/noc_regions.csv")[["NOC", "noc_full"]]
ol_data = ol_data.merge(entidades, on="NOC", how="left")

# rename the column to entidad
ol_data = ol_data.rename(columns={"noc_full": "NOC full"})

# move the NOC full column to after the noc column
column_order = ol_data.columns.tolist()
noc_index = column_order.index("NOC")
column_order.insert(noc_index + 1, column_order.pop(column_order.index("NOC full")))
ol_data = ol_data[column_order]

ol_data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,NOC full,NOC full,...,Year,Season,City,Host country,Host country (ISO),Sport,Event,Medal,NOC full,NOC full
0,1,A Dijiang,M,24,180,80,China,CHN,China,China,...,1992,Summer,Barcelona,Spain,ESP,Basketball,Basketball Men's Basketball,NaN,China,China
1,2,A Lamusi,M,23,170,60,China,CHN,China,China,...,2012,Summer,London,United Kingdom,GBR,Judo,Judo Men's Extra-Lightweight,NaN,China,China
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,Denmark,Denmark,...,1920,Summer,Antwerpen,Belgium,BEL,Football,Football Men's Football,NaN,Denmark,Denmark
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,Denmark,Denmark,...,1900,Summer,Paris,France,FRA,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,Denmark
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,Netherlands,Netherlands,...,1988,Winter,Calgary,Canada,CAN,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,Netherlands

In [10]:
# fill all nan values in age, height and weight with 'Unknown'
ol_data[["Age", "Height", "Weight"]] = ol_data[["Age", "Height", "Weight"]].fillna(
    "Unknown"
)
ol_data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,NOC full,NOC full,...,Year,Season,City,Host country,Host country (ISO),Sport,Event,Medal,NOC full,NOC full
0,1,A Dijiang,M,24,180,80,China,CHN,China,China,...,1992,Summer,Barcelona,Spain,ESP,Basketball,Basketball Men's Basketball,NaN,China,China
1,2,A Lamusi,M,23,170,60,China,CHN,China,China,...,2012,Summer,London,United Kingdom,GBR,Judo,Judo Men's Extra-Lightweight,NaN,China,China
2,3,Gunnar Nielsen Aaby,M,24,Unknown,Unknown,Denmark,DEN,Denmark,Denmark,...,1920,Summer,Antwerpen,Belgium,BEL,Football,Football Men's Football,NaN,Denmark,Denmark
3,4,Edgar Lindenau Aabye,M,34,Unknown,Unknown,Denmark/Sweden,DEN,Denmark,Denmark,...,1900,Summer,Paris,France,FRA,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,Denmark
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,Netherlands,Netherlands,...,1988,Winter,Calgary,Canada,CAN,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,Netherlands

In [11]:
# save the modified data to a new csv file
ol_data.to_csv("datasets/olympics-cleaned.csv", index=False)

# Analysis

## Valores faltantes

In [7]:
# count the total number cells
print("Total cells:", ol_data.size)

# count the total number of cells with missing values
print("Total missing cells:", ol_data.isnull().sum().sum())

Total cells: 4337856
Total missing cells: 363853

In [8]:
# Count the number of unique values in each column
unique_values = ol_data.nunique()

# Convert the Series to a DataFrame
unique_values_df = unique_values.to_frame().reset_index()

# Rename the columns
unique_values_df.columns = ["Columna", "Dominio"]

# Save the DataFrame to a CSV file
unique_values_df.to_csv(
    "descriptors/olympics_unique_values.csv", index=False, decimal="."
)
unique_values_df

         Columna  Dominio
0             ID   135571
1           Name   134732
2            Sex        2
3            Age       74
4         Height       95
5         Weight      220
6           Team     1184
7            NOC      230
8          Games       51
9           Year       35
10        Season        2
11          City       42
12  Host country       23
13         Sport       66
14         Event      765
15         Medal        3

In [9]:
# count the number of missing values in each column
missing = ol_data.isnull().sum()
missing = missing[missing > 0]
missing.sort_values(inplace=True)
missing.drop("Medalla", inplace=True)
missing

KeyError: "['Medalla'] not found in axis"

## Separacion por tipos de juegos

In [ ]:
# divide the DataFrame into two separate DataFrames
# one for the summer games and one for the winter games
summer_games = ol_data[ol_data.Temporada == "Verano"]
winter_games = ol_data[ol_data.Temporada == "Invierno"]

## `.describe` con valores de skewness y curtosis

In [ ]:
from statistics_calc import descriptors, translate_descriptors

# Generate descriptors
winter_desc = descriptors(winter_games)
summer_desc = descriptors(summer_games)

# Translate the descriptors to Spanish
winter_desc = translate_descriptors(winter_desc)
summer_desc = translate_descriptors(summer_desc)

# Export the DataFrame to a CSV file
winter_desc.to_csv("descriptors/olympics-quantitative-winter.csv", decimal=",")
summer_desc.to_csv("descriptors/olympics-quantitative-summer.csv", decimal=",")

winter_desc

,ID,AÃ±o de Nacimiento,Edad,Altura,Peso,AÃ±o,IMC
Total de valores,48564,48279,48279,40250,39543,48564,39492
Media,69394.75,1988.76,25.04,174.59,70.76,1987.83,23.05
DesviaciÃ³n estÃ¡ndar,38462.34,5.23,4.78,8.60,12.21,22.07,2.50
Valor mÃ­nimo,5,1958,11,137,32,1924,13.77
Q1,37280,1986,22,168,62,1972,21.30
Q2,67798,1989,24,175,70,1994,22.84
Q3,103279,1992,28,181,79,2006,24.54
Q4,135571,2005,58,211,145,2014,39.54
AsimetrÃ­a,-0.02,-0.52,0.76,-0.15,0.38,-0.93,0.53
Curtosis,-1.17,0.73,1.35,-0.36,-0.10,0.17,0.64
RIC,65999,6,6,13,17,34,3.25

## Variables cualitativas

In [ ]:
from statistics_calc import qualitative_stats

# Columnas cualitativas de interÃ©s
cols_cualitativas = ol_data.select_dtypes(include=["object"]).columns

# Generate statistics
winter_stats = qualitative_stats(winter_games, cols_cualitativas)
summer_stats = qualitative_stats(summer_games, cols_cualitativas)

# Guardar datos en un archivo CSV
winter_stats.to_csv(
    "descriptors/olympics_qualitative-winter.csv", index=False, decimal=","
)
summer_stats.to_csv(
    "descriptors/olympics_qualitative-summer.csv", index=False, decimal=","
)

# Mostrar el DataFrame de estadÃ­sticas
summer_stats

,Columna,Moda,Moda (#),Moda (%),Total de valores,Valores unicos (#),Valores unicos (%),Valores nulos (%)
1,Nombre,Robert Tait McKenzie,58,0.03,222552,116122,52.18,0
2,Sexo,M,163109,73.29,222552,2,0.00,0
3,Equipo,United States,14526,6.53,222552,1157,0.52,0
4,NOC,USA,15064,6.77,222552,230,0.10,0
5,Entidad,United States of America,15064,6.77,222203,222,0.10,0.16
6,RegiÃ³n,United States,15064,6.77,222531,195,0.09,0.01
7,RegiÃ³n (ISO),USA,15064,6.77,222430,203,0.09,0.05
8,Temporada,Verano,222552,100,222552,1,0.00,0
9,Juegos,Verano 2000,13821,6.21,222552,29,0.01,0
10,Ciudad,London,22426,10.08,222552,23,0.01,0
11,Pais anfitriÃ³n,United States,27504,12.36,222552,19,0.01,0
12,Pais anfitriÃ³n (ISO),USA,27504,12.36,222552,19,0.01,0
13,Deporte,Athletics,38624,17.36,222552,52,0.02,0
14,Evento,Football,6745,3.03,222552,452,0.20,0
15,Categoria evento,Masculino,149996,67.40,222552,3,0.00,0
16,Medalla,Oro,11459,5.15,34088,3,0.00,84.68

## Entradas por temporada

In [ ]:
# count the number of rows with each season
seasons = ol_data["Season"].value_counts()
seasons

Season
Summer    222552
Winter     48564
Name: count, dtype: int64

## Ciudades que han hosteado las olimpiadas

In [ ]:
# count the number of cities in which the olympics were held
cities = ol_data["City"].nunique()
cities

42

## Veces que se han hosteado las olimpiadas en cada ciudad

In [ ]:
# count how many times the olympics were held in each city
city_counts = ol_data["City"].value_counts()
city_counts.head()

City
London            22426
Athina            15556
Sydney            13821
Atlanta           13780
Rio de Janeiro    13688
Name: count, dtype: int64

## Atletas por pais

In [ ]:
# count the number of athletes from each country
athletes = ol_data["NOC"].value_counts()
athletes.head()

NOC
USA    18853
FRA    12758
GBR    12256
ITA    10715
GER     9830
Name: count, dtype: int64

## Atletas por temporada

In [ ]:
# count the number of athletes that are from each season
athletes_season = ol_data.groupby("Season")["Name"].nunique()
athletes_season

Season
Summer    116122
Winter     18923
Name: Name, dtype: int64

## Atletas por aÃ±o

In [ ]:
# count the number of athletes per year
athletes_year = ol_data.groupby("Year")["Name"].nunique()
athletes_year.head()

Year
1896     176
1900    1220
1904     650
1906     841
1908    2024
Name: Name, dtype: int64

## Medallas ganadas por pais

In [ ]:
# Count the number of medals won by each country
medal_counts = ol_data.groupby("NOC")["Medal"].count()
medal_counts.sort_values(ascending=False).head()

NOC
USA    5637
URS    2503
GER    2165
GBR    2068
FRA    1777
Name: Medal, dtype: int64

## Medallas ganadas por atleta

In [ ]:
# count the atheletes who won the most medals
most_medals = ol_data.groupby("Name")["Medal"].count()
most_medals.sort_values(ascending=False).head()

Name
Michael Fred Phelps, II               28
Larysa Semenivna Latynina (Diriy-)    18
Nikolay Yefimovich Andrianov          15
Takashi Ono                           13
Borys Anfiyanovych Shakhlin           13
Name: Medal, dtype: int64

## Atletas por deporte

In [ ]:
# count the most popular sports == the sports with the most athletes
popular_sports = ol_data["Sport"].value_counts()
popular_sports.head()

Sport
Athletics     38624
Gymnastics    26707
Swimming      23195
Shooting      11448
Cycling       10859
Name: count, dtype: int64

## Atletas por evento

In [ ]:
# count the most popular events == the events with the most athletes
popular_events = ol_data["Event"].value_counts()
popular_events.head()

Event
Football Men's Football        5733
Ice Hockey Men's Ice Hockey    4762
Hockey Men's Hockey            3958
Water Polo Men's Water Polo    3358
Basketball Men's Basketball    3280
Name: count, dtype: int64

## Deportes antiguos que aun se existen

In [ ]:
# Find the first year each event was held
first_year = ol_data.groupby("Event")["Year"].min()

# Find the most recent year in the data
latest_year = ol_data["Year"].max()

# Find the events held in the most recent year
latest_events = ol_data[ol_data["Year"] == latest_year]["Event"].unique()

# Count the number of events that were first held in the earliest year and are still being held
oldest_events_still_held = first_year[first_year.index.isin(latest_events)]

oldest_events_still_held

Event
Archery Men's Individual                          1972
Archery Men's Team                                1988
Archery Women's Individual                        1972
Archery Women's Team                              1988
Athletics Men's 1,500 metres                      1896
                                                  ...
Wrestling Women's Flyweight, Freestyle            2004
Wrestling Women's Heavyweight, Freestyle          2004
Wrestling Women's Light-Heavyweight, Freestyle    2016
Wrestling Women's Lightweight, Freestyle          2004
Wrestling Women's Middleweight, Freestyle         2004
Name: Year, Length: 306, dtype: int64

## Atletas por sexo

In [ ]:
# count the number of athletes for each sex
athletes_sex = data["Sex"].value_counts()
athletes_sex

Sex
M    196594
F     74522
Name: count, dtype: int64

## Atletas por sexo y pais

In [ ]:
# count the athletes by sex and country
athletes_by_sex_country = data.groupby(["Sex", "NOC"]).size().reset_index(name="Count")
athletes_by_sex_country.head()

  Sex  NOC  Count
0   F  AFG      5
1   F  AHO     12
2   F  ALB     27
3   F  ALG     94
4   F  AND     42

## Atletas por sexo y deporte

In [ ]:
# count the athletes by sex and sport
athletes_by_sex_sport = data.groupby(["Sex", "Sport"]).size().reset_index(name="Count")
athletes_by_sex_sport.head()

  Sex             Sport  Count
0   F     Alpine Skiing   3398
1   F          Alpinism      1
2   F           Archery   1015
3   F  Art Competitions    377
4   F         Athletics  11666

## Medallas ganadas por pais (por tipo de medalla)

In [ ]:
# count the countries that have won the most of each medal
gold_countries = data[data["Medal"] == "Gold"]["NOC"].value_counts()
silver_countries = data[data["Medal"] == "Silver"]["NOC"].value_counts()
bronze_countries = data[data["Medal"] == "Bronze"]["NOC"].value_counts()

gold_countries.head(), silver_countries.head(), bronze_countries.head()

(NOC
 USA    2638
 URS    1082
 GER     745
 GBR     678
 ITA     575
 Name: count, dtype: int64,
 NOC
 USA    1641
 GBR     739
 URS     732
 GER     674
 FRA     610
 Name: count, dtype: int64,
 NOC
 USA    1358
 GER     746
 URS     689
 FRA     666
 GBR     651
 Name: count, dtype: int64)

## Deportes por temporada

In [ ]:
# count the number of sports held in each season
sports_season = data.groupby("Season")["Sport"].nunique()
sports_season

Season
Summer    52
Winter    17
Name: Sport, dtype: int64

## Eventos por temporada

In [ ]:
# count the number of events held in each season
events_season = data.groupby("Season")["Event"].nunique()
events_season

Season
Summer    651
Winter    119
Name: Event, dtype: int64