# Data load

In [44]:
import pandas as pd


def custom_formatter(x):
    if x % 1 == 0:
        return f"{x:.0f}"
    else:
        return f"{x:.2f}"


pd.options.display.float_format = custom_formatter

data = pd.read_csv("datasets/olympics.csv")
data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170,60,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29,179,89,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27,176,59,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27,176,59,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30,185,96,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34,185,96,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [45]:
data.dtypes

ID          int64
Name       object
Sex        object
Age       float64
Height    float64
Weight    float64
Team       object
NOC        object
Games      object
Year        int64
Season     object
City       object
Sport      object
Event      object
Medal      object
dtype: object

# Clean up

In [46]:
# drop unnecessary columns
ol_data = data.drop(['Games'], axis=1)
ol_data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170,60,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [47]:
# translate the column names to spanish
ol_data.columns = [
    "ID",
    "Nombre",
    "Sexo",
    "Edad",
    "Altura",
    "Peso",
    "Equipo",
    "NOC",
    "AÃ±o",
    "Temporada",
    "Ciudad",
    "Deporte",
    "Evento",
    "Medalla",
]
ol_data.head()

,ID,Nombre,Sexo,Edad,Altura,Peso,Equipo,NOC,AÃ±o,Temporada,Ciudad,Deporte,Evento,Medalla
0,1,A Dijiang,M,24,180,80,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170,60,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [48]:
# add a column for the BMI
ol_data['IMC'] = ol_data['Peso'] / (ol_data['Altura'] / 100) ** 2
ol_data.head()

,ID,Nombre,Sexo,Edad,Altura,Peso,Equipo,NOC,AÃ±o,Temporada,Ciudad,Deporte,Evento,Medalla,IMC
0,1,A Dijiang,M,24,180,80,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,24.69
1,2,A Lamusi,M,23,170,60,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,20.76
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,NaN
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,23.96

In [49]:
# translate the values in the "Medalla" column to spanish
ol_data['Medalla'] = ol_data['Medalla'].map(
    {'Gold': 'Oro', 'Silver': 'Plata', 'Bronze': 'Bronce'}
)
ol_data.head()

,ID,Nombre,Sexo,Edad,Altura,Peso,Equipo,NOC,AÃ±o,Temporada,Ciudad,Deporte,Evento,Medalla,IMC
0,1,A Dijiang,M,24,180,80,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,24.69
1,2,A Lamusi,M,23,170,60,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,20.76
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Oro,NaN
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,23.96

In [50]:
# translate summer and winter games to spanish
ol_data['Temporada'] = ol_data['Temporada'].map(
    {'Summer': 'Verano', 'Winter': 'Invierno'}
)
ol_data.head()

,ID,Nombre,Sexo,Edad,Altura,Peso,Equipo,NOC,AÃ±o,Temporada,Ciudad,Deporte,Evento,Medalla,IMC
0,1,A Dijiang,M,24,180,80,China,CHN,1992,Verano,Barcelona,Basketball,Basketball Men's Basketball,NaN,24.69
1,2,A Lamusi,M,23,170,60,China,CHN,2012,Verano,London,Judo,Judo Men's Extra-Lightweight,NaN,20.76
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920,Verano,Antwerpen,Football,Football Men's Football,NaN,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900,Verano,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Oro,NaN
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988,Invierno,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,23.96

In [51]:
# translate the values in the "Deporte" column to spanish
english_sports = [
    "Basketball",
    "Judo",
    "Football",
    "Tug-Of-War",
    "Speed Skating",
    "Cross Country Skiing",
    "Athletics",
    "Ice Hockey",
    "Swimming",
    "Badminton",
    "Sailing",
    "Biathlon",
    "Gymnastics",
    "Art Competitions",
    "Alpine Skiing",
    "Handball",
    "Weightlifting",
    "Wrestling",
    "Luge",
    "Water Polo",
    "Hockey",
    "Rowing",
    "Bobsleigh",
    "Fencing",
    "Equestrianism",
    "Shooting",
    "Boxing",
    "Taekwondo",
    "Cycling",
    "Diving",
    "Canoeing",
    "Tennis",
    "Modern Pentathlon",
    "Figure Skating",
    "Golf",
    "Softball",
    "Archery",
    "Volleyball",
    "Synchronized Swimming",
    "Table Tennis",
    "Nordic Combined",
    "Baseball",
    "Rhythmic Gymnastics",
    "Freestyle Skiing",
    "Rugby Sevens",
    "Trampolining",
    "Beach Volleyball",
    "Triathlon",
    "Ski Jumping",
    "Curling",
    "Snowboarding",
    "Rugby",
    "Short Track Speed Skating",
    "Skeleton",
    "Lacrosse",
    "Polo",
    "Cricket",
    "Racquets",
    "Motorboating",
    "Military Ski Patrol",
    "Croquet",
    "Jeu De Paume",
    "Roque",
    "Alpinism",
    "Basque Pelota",
    "Aeronautics",
]
spanish_sports = [
    "Baloncesto",
    "Judo",
    "FÃºtbol",
    "Tira de cuerda",
    "Patinaje de velocidad",
    "EsquÃ­ de fondo",
    "Atletismo",
    "Hockey sobre hielo",
    "NataciÃ³n",
    "BÃ¡dminton",
    "Vela",
    "BiatlÃ³n",
    "Gimnasia",
    "Competencias de arte",
    "EsquÃ­ alpino",
    "Balonmano",
    "Levantamiento de pesas",
    "Lucha",
    "Luge",
    "Polo acuÃ¡tico",
    "Hockey",
    "Remo",
    "Bobsleigh",
    "Esgrima",
    "EquitaciÃ³n",
    "Tiro",
    "Boxeo",
    "Taekwondo",
    "Ciclismo",
    "Clavados",
    "Canoa",
    "Tenis",
    "PentatlÃ³n moderno",
    "Patinaje artÃ­stico",
    "Golf",
    "Softbol",
    "Tiro con arco",
    "Voleibol",
    "NataciÃ³n sincronizada",
    "Tenis de mesa",
    "Combinada nÃ³rdica",
    "BÃ©isbol",
    "Gimnasia rÃ­tmica",
    "EsquÃ­ estilo libre",
    "Rugby 7",
    "TrampolÃ­n",
    "Voleibol de playa",
    "TriatlÃ³n",
    "Salto de esquÃ­",
    "Curling",
    "Snowboard",
    "Rugby",
    "Patinaje de velocidad en pista corta",
    "Skeleton",
    "Lacrosse",
    "Polo",
    "CrÃ­quet",
    "Raquetas",
    "Motonautismo",
    "Patrulla militar de esquÃ­",
    "Croquet",
    "Juego de palma",
    "Roque",
    "Alpinismo",
    "Pelota vasca",
    "AeronÃ¡utica",
]

ol_data['Deporte'] = ol_data['Deporte'].map(dict(zip(english_sports, spanish_sports)))
ol_data.head()

,ID,Nombre,Sexo,Edad,Altura,Peso,Equipo,NOC,AÃ±o,Temporada,Ciudad,Deporte,Evento,Medalla,IMC
0,1,A Dijiang,M,24,180,80,China,CHN,1992,Verano,Barcelona,Baloncesto,Basketball Men's Basketball,NaN,24.69
1,2,A Lamusi,M,23,170,60,China,CHN,2012,Verano,London,Judo,Judo Men's Extra-Lightweight,NaN,20.76
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920,Verano,Antwerpen,FÃºtbol,Football Men's Football,NaN,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900,Verano,Paris,Tira de cuerda,Tug-Of-War Men's Tug-Of-War,Oro,NaN
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988,Invierno,Calgary,Patinaje de velocidad,Speed Skating Women's 500 metres,NaN,23.96

In [52]:
cities_countries = {
    "Barcelona": "Spain",
    "London": "United Kingdom",
    "Antwerpen": "Belgium",
    "Paris": "France",
    "Calgary": "Canada",
    "Albertville": "France",
    "Lillehammer": "Norway",
    "Los Angeles": "United States",
    "Salt Lake City": "United States",
    "Helsinki": "Finland",
    "Lake Placid": "United States",
    "Sydney": "Australia",
    "Atlanta": "United States",
    "Stockholm": "Sweden",
    "Sochi": "Russia",
    "Nagano": "Japan",
    "Torino": "Italy",
    "Beijing": "China",
    "Rio de Janeiro": "Brazil",
    "Athina": "Greece",
    "Squaw Valley": "United States",
    "Innsbruck": "Austria",
    "Sarajevo": "Bosnia and Herzegovina",
    "Mexico City": "Mexico",
    "Munich": "Germany",
    "Seoul": "South Korea",
    "Berlin": "Germany",
    "Oslo": "Norway",
    "Cortina d'Ampezzo": "Italy",
    "Melbourne": "Australia",
    "Roma": "Italy",
    "Amsterdam": "Netherlands",
    "Montreal": "Canada",
    "Moskva": "Russia",
    "Tokyo": "Japan",
    "Vancouver": "Canada",
    "Grenoble": "France",
    "Sapporo": "Japan",
    "Chamonix": "France",
    "St. Louis": "United States",
    "Sankt Moritz": "Switzerland",
    "Garmisch-Partenkirchen": "Germany",
}

# Map the Ciudad column to the NOC codes
ol_data["Pais anfitriÃ³n"] = ol_data["Ciudad"].map(cities_countries)

# Define the new column order
column_order = ol_data.columns.tolist()
ciudad_index = column_order.index("Ciudad")
column_order.insert(
    ciudad_index + 1, column_order.pop(column_order.index("Pais anfitriÃ³n"))
)

# Create a new DataFrame with the columns in the desired order
ol_data = ol_data[column_order]
ol_data.head()

,ID,Nombre,Sexo,Edad,Altura,Peso,Equipo,NOC,AÃ±o,Temporada,Ciudad,Pais anfitriÃ³n,Deporte,Evento,Medalla,IMC
0,1,A Dijiang,M,24,180,80,China,CHN,1992,Verano,Barcelona,Spain,Baloncesto,Basketball Men's Basketball,NaN,24.69
1,2,A Lamusi,M,23,170,60,China,CHN,2012,Verano,London,United Kingdom,Judo,Judo Men's Extra-Lightweight,NaN,20.76
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920,Verano,Antwerpen,Belgium,FÃºtbol,Football Men's Football,NaN,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900,Verano,Paris,France,Tira de cuerda,Tug-Of-War Men's Tug-Of-War,Oro,NaN
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988,Invierno,Calgary,Canada,Patinaje de velocidad,Speed Skating Women's 500 metres,NaN,23.96

In [53]:
# Read the noc_regions.csv file into a pandas DataFrame
noc_regions = pd.read_csv("datasets/noc_regions_translated.csv")

# Select only the NOC and region columns from noc_regions
noc_regions = noc_regions[['NOC', 'region']]

# Merge the original DataFrame (ol_data) with the noc_regions DataFrame
# The merge is done based on the "NOC" column
# The "how='left'" part means that all the rows from ol_data and only the ones from noc_regions that match will be kept
ol_data = ol_data.merge(noc_regions, on="NOC", how="left")

# Display the first few rows of the resulting DataFrame
ol_data.head()

,ID,Nombre,Sexo,Edad,Altura,Peso,Equipo,NOC,AÃ±o,Temporada,Ciudad,Pais anfitriÃ³n,Deporte,Evento,Medalla,IMC,region
0,1,A Dijiang,M,24,180,80,China,CHN,1992,Verano,Barcelona,Spain,Baloncesto,Basketball Men's Basketball,NaN,24.69,China
1,2,A Lamusi,M,23,170,60,China,CHN,2012,Verano,London,United Kingdom,Judo,Judo Men's Extra-Lightweight,NaN,20.76,China
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920,Verano,Antwerpen,Belgium,FÃºtbol,Football Men's Football,NaN,NaN,Denmark
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900,Verano,Paris,France,Tira de cuerda,Tug-Of-War Men's Tug-Of-War,Oro,NaN,Denmark
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988,Invierno,Calgary,Canada,Patinaje de velocidad,Speed Skating Women's 500 metres,NaN,23.96,Netherlands

In [54]:
# Rename the 'region' column to 'Region'
ol_data = ol_data.rename(columns={"region": "RegiÃ³n"})

# Define the new column order
column_order = ol_data.columns.tolist()
noc_index = column_order.index("NOC")
column_order.insert(noc_index + 1, column_order.pop(column_order.index("RegiÃ³n")))

# Create a new DataFrame with the columns in the desired order
ol_data = ol_data[column_order]
ol_data.head()

,ID,Nombre,Sexo,Edad,Altura,Peso,Equipo,NOC,RegiÃ³n,AÃ±o,Temporada,Ciudad,Pais anfitriÃ³n,Deporte,Evento,Medalla,IMC
0,1,A Dijiang,M,24,180,80,China,CHN,China,1992,Verano,Barcelona,Spain,Baloncesto,Basketball Men's Basketball,NaN,24.69
1,2,A Lamusi,M,23,170,60,China,CHN,China,2012,Verano,London,United Kingdom,Judo,Judo Men's Extra-Lightweight,NaN,20.76
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,Denmark,1920,Verano,Antwerpen,Belgium,FÃºtbol,Football Men's Football,NaN,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,Denmark,1900,Verano,Paris,France,Tira de cuerda,Tug-Of-War Men's Tug-Of-War,Oro,NaN
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,Netherlands,1988,Invierno,Calgary,Canada,Patinaje de velocidad,Speed Skating Women's 500 metres,NaN,23.96

In [55]:
# add a "Juegos" column that concatenates the "Temporada" and "AÃ±o" columns
ol_data["Juegos"] = ol_data["Temporada"] + " " + ol_data["AÃ±o"].astype(str)

# move that column to after the "Temporada" column
column_order = ol_data.columns.tolist()
temporada_index = column_order.index("Temporada")
column_order.insert(
    temporada_index + 1, column_order.pop(column_order.index("Juegos"))
)

# Create a new DataFrame with the columns in the desired order
ol_data = ol_data[column_order]
ol_data.head()

,ID,Nombre,Sexo,Edad,Altura,Peso,Equipo,NOC,RegiÃ³n,AÃ±o,Temporada,Juegos,Ciudad,Pais anfitriÃ³n,Deporte,Evento,Medalla,IMC
0,1,A Dijiang,M,24,180,80,China,CHN,China,1992,Verano,Verano 1992,Barcelona,Spain,Baloncesto,Basketball Men's Basketball,NaN,24.69
1,2,A Lamusi,M,23,170,60,China,CHN,China,2012,Verano,Verano 2012,London,United Kingdom,Judo,Judo Men's Extra-Lightweight,NaN,20.76
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,Denmark,1920,Verano,Verano 1920,Antwerpen,Belgium,FÃºtbol,Football Men's Football,NaN,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,Denmark,1900,Verano,Verano 1900,Paris,France,Tira de cuerda,Tug-Of-War Men's Tug-Of-War,Oro,NaN
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,Netherlands,1988,Invierno,Invierno 1988,Calgary,Canada,Patinaje de velocidad,Speed Skating Women's 500 metres,NaN,23.96

In [57]:
import pycountry


# Function to return the alpha_3 country code
def get_country_code(country_name):
    if isinstance(country_name, str):
        try:
            return pycountry.countries.get(name=country_name).alpha_3
        except AttributeError:
            return None
    else:
        return None


# Apply the function to the 'region' column to create the 'code' column
ol_data["RegiÃ³n (ISO)"] = ol_data["RegiÃ³n"].apply(get_country_code)

# Apply the function to the 'pais anfitrion' column to create the 'code' column
ol_data["Pais anfitriÃ³n (ISO)"] = ol_data["Pais anfitriÃ³n"].apply(get_country_code)

ol_data.head()

,ID,Nombre,Sexo,Edad,Altura,Peso,Equipo,NOC,RegiÃ³n,AÃ±o,Temporada,Juegos,Ciudad,Pais anfitriÃ³n,Deporte,Evento,Medalla,IMC,RegiÃ³n (ISO),Pais anfitriÃ³n (ISO)
0,1,A Dijiang,M,24,180,80,China,CHN,China,1992,Verano,Verano 1992,Barcelona,Spain,Baloncesto,Basketball Men's Basketball,NaN,24.69,CHN,ESP
1,2,A Lamusi,M,23,170,60,China,CHN,China,2012,Verano,Verano 2012,London,United Kingdom,Judo,Judo Men's Extra-Lightweight,NaN,20.76,CHN,GBR
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,Denmark,1920,Verano,Verano 1920,Antwerpen,Belgium,FÃºtbol,Football Men's Football,NaN,NaN,DNK,BEL
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,Denmark,1900,Verano,Verano 1900,Paris,France,Tira de cuerda,Tug-Of-War Men's Tug-Of-War,Oro,NaN,DNK,FRA
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,Netherlands,1988,Invierno,Invierno 1988,Calgary,Canada,Patinaje de velocidad,Speed Skating Women's 500 metres,NaN,23.96,NLD,CAN

In [58]:
# Get a list of the column names
cols = ol_data.columns.tolist()

# Move the 'RegiÃ³n (ISO)' column to the right of the 'RegiÃ³n' column
cols.insert(cols.index('RegiÃ³n') + 1, cols.pop(cols.index('RegiÃ³n (ISO)')))

# Move the 'Pais anfitriÃ³n (ISO)' column to the right of the 'Pais anfitriÃ³n' column
cols.insert(cols.index('Pais anfitriÃ³n') + 1, cols.pop(cols.index('Pais anfitriÃ³n (ISO)')))

# Reorder the DataFrame
ol_data = ol_data[cols]

ol_data.head()

,ID,Nombre,Sexo,Edad,Altura,Peso,Equipo,NOC,RegiÃ³n,RegiÃ³n (ISO),AÃ±o,Temporada,Juegos,Ciudad,Pais anfitriÃ³n,Pais anfitriÃ³n (ISO),Deporte,Evento,Medalla,IMC
0,1,A Dijiang,M,24,180,80,China,CHN,China,CHN,1992,Verano,Verano 1992,Barcelona,Spain,ESP,Baloncesto,Basketball Men's Basketball,NaN,24.69
1,2,A Lamusi,M,23,170,60,China,CHN,China,CHN,2012,Verano,Verano 2012,London,United Kingdom,GBR,Judo,Judo Men's Extra-Lightweight,NaN,20.76
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,Denmark,DNK,1920,Verano,Verano 1920,Antwerpen,Belgium,BEL,FÃºtbol,Football Men's Football,NaN,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,Denmark,DNK,1900,Verano,Verano 1900,Paris,France,FRA,Tira de cuerda,Tug-Of-War Men's Tug-Of-War,Oro,NaN
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,Netherlands,NLD,1988,Invierno,Invierno 1988,Calgary,Canada,CAN,Patinaje de velocidad,Speed Skating Women's 500 metres,NaN,23.96

In [60]:
# save the modified data to a new csv file
ol_data.to_csv("datasets/olympics-spanish.csv", index=False)

# Analysis

## Valores faltantes

In [53]:
# count the total number cells
print("Total cells:", ol_data.size)

# count the total number of cells with missing values
print("Total missing cells:", ol_data.isnull().sum().sum())

Total cells: 4608972
Total missing cells: 428486

In [54]:
# Count the number of unique values in each column
unique_values = ol_data.nunique()

# Convert the Series to a DataFrame
unique_values_df = unique_values.to_frame().reset_index()

# Rename the columns
unique_values_df.columns = ["Columna", "Dominio"]

# Save the DataFrame to a CSV file
unique_values_df.to_csv("descriptors/olympics_unique_values.csv", index=False, decimal='.')
unique_values_df

           Columna  Dominio
0               ID   135571
1           Nombre   134732
2             Sexo        2
3             Edad       74
4           Altura       95
5             Peso      220
6           Equipo     1184
7              NOC      230
8           RegiÃ³n      205
9              AÃ±o       35
10       Temporada        2
11          Ciudad       42
12  Pais anfitriÃ³n       23
13         Deporte       66
14          Evento      765
15         Medalla        3
16             IMC     3861

In [55]:
# count the number of missing values in each column
missing = ol_data.isnull().sum()
missing = missing[missing > 0]
missing.sort_values(inplace=True)
missing.drop('Medalla', inplace=True)
missing

RegiÃ³n      370
Edad       9474
Altura    60171
Peso      62875
IMC       64263
dtype: int64

## Separacion por tipos de juegos

In [50]:
# divide the DataFrame into two separate DataFrames
# one for the summer games and one for the winter games
summer_games = ol_data[ol_data.Temporada == 'Verano']
winter_games = ol_data[ol_data.Temporada == 'Invierno']

## `.describe` con valores de skewness y curtosis

In [51]:
from statistics_calc import descriptors, translate_descriptors

# Generate descriptors
winter_desc = descriptors(winter_games)
summer_desc = descriptors(summer_games)

# Translate the descriptors to Spanish
winter_desc = translate_descriptors(winter_desc)
summer_desc = translate_descriptors(summer_desc)

# Export the DataFrame to a CSV file
winter_desc.to_csv("descriptors/olympics-quantitative-winter.csv", decimal=",")
summer_desc.to_csv("descriptors/olympics-quantitative-summer.csv", decimal=",")

winter_desc

                          ID  Edad  Altura  Peso     AÃ±o   IMC
Total de valores       48564 48279   40250 39543   48564 39492
Media               69394.75 25.04  174.59 70.76 1987.83 23.05
DesviaciÃ³n estÃ¡ndar 38462.34  4.78    8.60 12.21   22.07  2.50
Valor mÃ­nimo               5    11     137    32    1924 13.77
Q1                     37280    22     168    62    1972 21.30
Q2                     67798    24     175    70    1994 22.84
Q3                    103279    28     181    79    2006 24.54
Q4                    135571    58     211   145    2014 39.54
AsimetrÃ­a              -0.02  0.76   -0.15  0.38   -0.93  0.53
Curtosis               -1.17  1.35   -0.36 -0.10    0.17  0.64
RIC                    65999     6      13    17      34  3.25

## Variables cualitativas

In [55]:
from statistics_calc import qualitative_stats

# Columnas cualitativas de interÃ©s
cols_cualitativas = [
    "Nombre",
    "Sexo",
    "Equipo",
    "NOC",
    "RegiÃ³n",
    "Temporada",
    "Juegos",
    "Ciudad",
    "Pais anfitriÃ³n",
    "Deporte",
    "Evento",
    "Medalla",
]

# Generate statistics
winter_stats = qualitative_stats(winter_games, cols_cualitativas)
summer_stats = qualitative_stats(summer_games, cols_cualitativas)

# Guardar datos en un archivo CSV
winter_stats.to_csv(
    "descriptors/olympics_qualitative-winter.csv", index=False, decimal=","
)
summer_stats.to_csv(
    "descriptors/olympics_qualitative-summer.csv", index=False, decimal=","
)

# Mostrar el DataFrame de estadÃ­sticas
summer_stats

,Columna,Moda,Moda (#),Moda (%),Total de valores,Valores unicos (#),Valores unicos (%),Valores nulos (%)
1,Nombre,Robert Tait McKenzie,58,0.03,222552,116122,52.18,0
2,Sexo,M,163109,73.29,222552,2,0.00,0
3,Equipo,United States,14526,6.53,222552,1157,0.52,0
4,NOC,USA,15064,6.77,222552,230,0.10,0
5,RegiÃ³n,USA,15064,6.77,222182,205,0.09,0.17
6,Temporada,Verano,222552,100,222552,1,0.00,0
7,Juegos,Verano 2000,13821,6.21,222552,29,0.01,0
8,Ciudad,London,22426,10.08,222552,23,0.01,0
9,Pais anfitriÃ³n,United States,27504,12.36,222552,19,0.01,0
10,Deporte,Atletismo,38624,17.36,222552,52,0.02,0
11,Evento,Football Men's Football,5733,2.58,222552,651,0.29,0
12,Medalla,Oro,11459,5.15,34088,3,0.00,84.68

## Entradas por temporada

In [46]:
# count the number of rows with each season
seasons = ol_data['Season'].value_counts()
seasons

Season
Summer    222552
Winter     48564
Name: count, dtype: int64

## Ciudades que han hosteado las olimpiadas

In [47]:
# count the number of cities in which the olympics were held
cities = ol_data['City'].nunique()
cities

42

## Veces que se han hosteado las olimpiadas en cada ciudad

In [49]:
# count how many times the olympics were held in each city
city_counts = ol_data['City'].value_counts()
city_counts.head()

City
London            22426
Athina            15556
Sydney            13821
Atlanta           13780
Rio de Janeiro    13688
Name: count, dtype: int64

## Atletas por pais

In [51]:
# count the number of athletes from each country
athletes = ol_data['NOC'].value_counts()
athletes.head()

NOC
USA    18853
FRA    12758
GBR    12256
ITA    10715
GER     9830
Name: count, dtype: int64

## Atletas por temporada

In [55]:
# count the number of athletes that are from each season
athletes_season = ol_data.groupby('Season')['Name'].nunique()
athletes_season

Season
Summer    116122
Winter     18923
Name: Name, dtype: int64

## Atletas por aÃ±o

In [57]:
# count the number of athletes per year
athletes_year = ol_data.groupby('Year')['Name'].nunique()
athletes_year.head()

Year
1896     176
1900    1220
1904     650
1906     841
1908    2024
Name: Name, dtype: int64

## Medallas ganadas por pais

In [66]:
# Count the number of medals won by each country
medal_counts = ol_data.groupby('NOC')['Medal'].count()
medal_counts.sort_values(ascending=False).head()

NOC
USA    5637
URS    2503
GER    2165
GBR    2068
FRA    1777
Name: Medal, dtype: int64

## Medallas ganadas por atleta

In [67]:
# count the atheletes who won the most medals
most_medals = ol_data.groupby('Name')['Medal'].count()
most_medals.sort_values(ascending=False).head()

Name
Michael Fred Phelps, II               28
Larysa Semenivna Latynina (Diriy-)    18
Nikolay Yefimovich Andrianov          15
Takashi Ono                           13
Borys Anfiyanovych Shakhlin           13
Name: Medal, dtype: int64

## Atletas por deporte

In [68]:
# count the most popular sports == the sports with the most athletes
popular_sports = ol_data['Sport'].value_counts()
popular_sports.head()

Sport
Athletics     38624
Gymnastics    26707
Swimming      23195
Shooting      11448
Cycling       10859
Name: count, dtype: int64

## Atletas por evento

In [69]:
# count the most popular events == the events with the most athletes
popular_events = ol_data['Event'].value_counts()
popular_events.head()

Event
Football Men's Football        5733
Ice Hockey Men's Ice Hockey    4762
Hockey Men's Hockey            3958
Water Polo Men's Water Polo    3358
Basketball Men's Basketball    3280
Name: count, dtype: int64

## Deportes antiguos que aun se existen

In [82]:
# Find the first year each event was held
first_year = ol_data.groupby('Event')['Year'].min()

# Find the most recent year in the data
latest_year = ol_data['Year'].max()

# Find the events held in the most recent year
latest_events = ol_data[ol_data['Year'] == latest_year]['Event'].unique()

# Count the number of events that were first held in the earliest year and are still being held
oldest_events_still_held = first_year[first_year.index.isin(latest_events)]

oldest_events_still_held

Event
Archery Men's Individual                          1972
Archery Men's Team                                1988
Archery Women's Individual                        1972
Archery Women's Team                              1988
Athletics Men's 1,500 metres                      1896
                                                  ...
Wrestling Women's Flyweight, Freestyle            2004
Wrestling Women's Heavyweight, Freestyle          2004
Wrestling Women's Light-Heavyweight, Freestyle    2016
Wrestling Women's Lightweight, Freestyle          2004
Wrestling Women's Middleweight, Freestyle         2004
Name: Year, Length: 306, dtype: int64

## Atletas por sexo

In [83]:
# count the number of athletes for each sex
athletes_sex = data['Sex'].value_counts()
athletes_sex

Sex
M    196594
F     74522
Name: count, dtype: int64

## Atletas por sexo y pais

In [73]:
# count the athletes by sex and country
athletes_by_sex_country = data.groupby(['Sex', 'NOC']).size().reset_index(name='Count')
athletes_by_sex_country.head()

  Sex  NOC  Count
0   F  AFG      5
1   F  AHO     12
2   F  ALB     27
3   F  ALG     94
4   F  AND     42

## Atletas por sexo y deporte

In [75]:
# count the athletes by sex and sport
athletes_by_sex_sport = data.groupby(['Sex', 'Sport']).size().reset_index(name='Count')
athletes_by_sex_sport.head()

  Sex             Sport  Count
0   F     Alpine Skiing   3398
1   F          Alpinism      1
2   F           Archery   1015
3   F  Art Competitions    377
4   F         Athletics  11666

## Medallas ganadas por pais (por tipo de medalla)

In [76]:
# count the countries that have won the most of each medal
gold_countries = data[data['Medal'] == 'Gold']['NOC'].value_counts()
silver_countries = data[data['Medal'] == 'Silver']['NOC'].value_counts()
bronze_countries = data[data['Medal'] == 'Bronze']['NOC'].value_counts()

gold_countries.head(), silver_countries.head(), bronze_countries.head()

(NOC
 USA    2638
 URS    1082
 GER     745
 GBR     678
 ITA     575
 Name: count, dtype: int64,
 NOC
 USA    1641
 GBR     739
 URS     732
 GER     674
 FRA     610
 Name: count, dtype: int64,
 NOC
 USA    1358
 GER     746
 URS     689
 FRA     666
 GBR     651
 Name: count, dtype: int64)

## Deportes por temporada

In [78]:
# count the number of sports held in each season
sports_season = data.groupby('Season')['Sport'].nunique()
sports_season

Season
Summer    52
Winter    17
Name: Sport, dtype: int64

## Eventos por temporada

In [79]:
# count the number of events held in each season
events_season = data.groupby('Season')['Event'].nunique()
events_season

Season
Summer    651
Winter    119
Name: Event, dtype: int64