# Data load

In [1]:
import pandas as pd


def custom_formatter(x):
    if x % 1 == 0:
        return f"{x:.0f}"
    else:
        return f"{x:.2f}"


pd.options.display.float_format = custom_formatter

ol_data = pd.read_csv("datasets/olympics.csv")
ol_data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170,60,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29,179,89,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27,176,59,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27,176,59,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30,185,96,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34,185,96,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [2]:
ol_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

# Clean up

In [3]:
cities_countries = {
    "Barcelona": "Spain",
    "London": "United Kingdom of Great Britain and Northern Ireland",
    "Antwerpen": "Belgium",
    "Paris": "France",
    "Calgary": "Canada",
    "Albertville": "France",
    "Lillehammer": "Norway",
    "Los Angeles": "United States of America",
    "Salt Lake City": "United States of America",
    "Helsinki": "Finland",
    "Lake Placid": "United States of America",
    "Sydney": "Australia",
    "Atlanta": "United States of America",
    "Stockholm": "Sweden",
    "Sochi": "Russian Federation",
    "Nagano": "Japan",
    "Torino": "Italy",
    "Beijing": "China",
    "Rio de Janeiro": "Brazil",
    "Athina": "Greece",
    "Squaw Valley": "United States of America",
    "Innsbruck": "Austria",
    "Sarajevo": "Bosnia and Herzegovina",
    "Mexico City": "Mexico",
    "Munich": "Germany",
    "Seoul": "Korea, Republic of",
    "Berlin": "Germany",
    "Oslo": "Norway",
    "Cortina d'Ampezzo": "Italy",
    "Melbourne": "Australia",
    "Roma": "Italy",
    "Amsterdam": "Netherlands, Kingdom of the",
    "Montreal": "Canada",
    "Moskva": "Russian Federation",
    "Tokyo": "Japan",
    "Vancouver": "Canada",
    "Grenoble": "France",
    "Sapporo": "Japan",
    "Chamonix": "France",
    "St. Louis": "United States of America",
    "Sankt Moritz": "Switzerland",
    "Garmisch-Partenkirchen": "Germany",
}

# Map the Ciudad column to the NOC codes
ol_data["Host Country"] = ol_data["City"].map(cities_countries)

# Define the new column order
column_order = ol_data.columns.tolist()
ciudad_index = column_order.index("City")
column_order.insert(
    ciudad_index + 1, column_order.pop(column_order.index("Host Country"))
)

# Create a new DataFrame with the columns in the desired order
ol_data = ol_data[column_order]
ol_data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Host Country,Sport,Event,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,1992 Summer,1992,Summer,Barcelona,Spain,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170,60,China,CHN,2012 Summer,2012,Summer,London,United Kingdom of Great Britain and Northern I...,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Belgium,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,France,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Canada,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
# Read the noc_regions.csv file into a pandas DataFrame
noc_regions = pd.read_csv("datasets/noc_regions-parsed.csv")

# Select only the NOC and region columns from noc_regions
noc_regions = noc_regions[["NOC", "region"]]

# Merge the original DataFrame (ol_data) with the noc_regions DataFrame
# The merge is done based on the "NOC" column
# The "how='left'" part means that all the rows from ol_data and only the ones from noc_regions that match will be kept
ol_data = ol_data.merge(noc_regions, on="NOC", how="left")

# Rename the 'noc_full' column
ol_data = ol_data.rename(columns={"region": "Region"})

# Display the first few rows of the resulting DataFrame
ol_data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Host Country,Sport,Event,Medal,Region
0,1,A Dijiang,M,24,180,80,China,CHN,1992 Summer,1992,Summer,Barcelona,Spain,Basketball,Basketball Men's Basketball,NaN,China
1,2,A Lamusi,M,23,170,60,China,CHN,2012 Summer,2012,Summer,London,United Kingdom of Great Britain and Northern I...,Judo,Judo Men's Extra-Lightweight,NaN,China
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Belgium,Football,Football Men's Football,NaN,Denmark
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,France,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Canada,Speed Skating,Speed Skating Women's 500 metres,NaN,"Netherlands, Kingdom of the"

In [5]:
# Define the new column order
column_order = ol_data.columns.tolist()
noc_index = column_order.index("NOC")
column_order.insert(noc_index + 1, column_order.pop(column_order.index("Region")))

# Create a new DataFrame with the columns in the desired order
ol_data = ol_data[column_order]
ol_data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Region,Games,Year,Season,City,Host Country,Sport,Event,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,China,1992 Summer,1992,Summer,Barcelona,Spain,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170,60,China,CHN,China,2012 Summer,2012,Summer,London,United Kingdom of Great Britain and Northern I...,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,Denmark,1920 Summer,1920,Summer,Antwerpen,Belgium,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,Denmark,1900 Summer,1900,Summer,Paris,France,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,"Netherlands, Kingdom of the",1988 Winter,1988,Winter,Calgary,Canada,Speed Skating,Speed Skating Women's 500 metres,NaN

In [6]:
region_iso_df = pd.read_csv("datasets/iso_codes.csv")
region_iso_map = region_iso_df.set_index("name")["ISO"]

# Add a new 'ISO' column to the DataFrame
ol_data["ISO"] = ol_data["Region"].map(region_iso_map)

# Rename it to Region (ISO)
ol_data = ol_data.rename(columns={"ISO": "Region (ISO)"})

# Add a new 'ISO' column for 'Host country'
ol_data["Host Country (ISO)"] = ol_data["Host Country"].map(region_iso_map)

# Check the first few rows of the updated DataFrame
ol_data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Region,Games,Year,Season,City,Host Country,Sport,Event,Medal,Region (ISO),Host Country (ISO)
0,1,A Dijiang,M,24,180,80,China,CHN,China,1992 Summer,1992,Summer,Barcelona,Spain,Basketball,Basketball Men's Basketball,NaN,CHN,ESP
1,2,A Lamusi,M,23,170,60,China,CHN,China,2012 Summer,2012,Summer,London,United Kingdom of Great Britain and Northern I...,Judo,Judo Men's Extra-Lightweight,NaN,CHN,GBR
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,Denmark,1920 Summer,1920,Summer,Antwerpen,Belgium,Football,Football Men's Football,NaN,DNK,BEL
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,Denmark,1900 Summer,1900,Summer,Paris,France,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,DNK,FRA
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,"Netherlands, Kingdom of the",1988 Winter,1988,Winter,Calgary,Canada,Speed Skating,Speed Skating Women's 500 metres,NaN,NLD,CAN

In [7]:
# Get a list of the column names
cols = ol_data.columns.tolist()

# Move the 'RegiÃ³n (ISO)' column to the right of the 'RegiÃ³n' column
cols.insert(cols.index("Region") + 1, cols.pop(cols.index("Region (ISO)")))

# Move the 'Pais anfitriÃ³n (ISO)' column to the right of the 'Pais anfitriÃ³n' column
cols.insert(cols.index("Host Country") + 1, cols.pop(cols.index("Host Country (ISO)")))

# Reorder the DataFrame
ol_data = ol_data[cols]

ol_data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Region,Region (ISO),Games,Year,Season,City,Host Country,Host Country (ISO),Sport,Event,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,China,CHN,1992 Summer,1992,Summer,Barcelona,Spain,ESP,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170,60,China,CHN,China,CHN,2012 Summer,2012,Summer,London,United Kingdom of Great Britain and Northern I...,GBR,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,Denmark,DNK,1920 Summer,1920,Summer,Antwerpen,Belgium,BEL,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,Denmark,DNK,1900 Summer,1900,Summer,Paris,France,FRA,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,"Netherlands, Kingdom of the",NLD,1988 Winter,1988,Winter,Calgary,Canada,CAN,Speed Skating,Speed Skating Women's 500 metres,NaN

In [8]:
# get all entries with UNK in NOC
ol_data[ol_data["NOC"] == "UNK"]

# delete all those entries
ol_data = ol_data[ol_data["NOC"] != "UNK"]

In [9]:
ol_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 271114 entries, 0 to 271115
Data columns (total 19 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ID                  271114 non-null  int64
 1   Name                271114 non-null  object
 2   Sex                 271114 non-null  object
 3   Age                 261642 non-null  float64
 4   Height              210945 non-null  float64
 5   Weight              208241 non-null  float64
 6   Team                271114 non-null  object
 7   NOC                 271114 non-null  object
 8   Region              271102 non-null  object
 9   Region (ISO)        271008 non-null  object
 10  Games               271114 non-null  object
 11  Year                271114 non-null  int64
 12  Season              271114 non-null  object
 13  City                271114 non-null  object
 14  Host Country        271114 non-null  object
 15  Host Country (ISO)  271114 non-null  object
 16  Sport               271114 non-null  object
 17  Event               271114 non-null  object
 18  Medal               39783 non-null   object
dtypes: float64(3), int64(2), object(14)
memory usage: 41.4+ MB

In [10]:
# save the modified data to a new csv file
ol_data.to_csv("datasets/olympics-cleaned.csv", index=False)

# Analysis

## Valores faltantes

## Separacion por tipos de juegos

In [11]:
# divide the DataFrame into two separate DataFrames
# one for the summer games and one for the winter games
summer_games = ol_data[ol_data.Season == "Summer"]
winter_games = ol_data[ol_data.Season == "Winter"]

## `.describe` con valores de skewness y curtosis

In [12]:
from statistics_calc import descriptors, translate_descriptors

# Generate descriptors
winter_desc = descriptors(winter_games)
summer_desc = descriptors(summer_games)

# Translate the descriptors to Spanish
winter_desc = translate_descriptors(winter_desc)
summer_desc = translate_descriptors(summer_desc)

# Export the DataFrame to a CSV file
winter_desc.to_csv("descriptors/olympics-quantitative-winter.csv", decimal=",")
summer_desc.to_csv("descriptors/olympics-quantitative-summer.csv", decimal=",")

winter_desc

                          ID   Age  Height  Weight    Year
Total de valores       48564 48279   40250   39543   48564
Media               69394.75 25.04  174.59   70.76 1987.83
DesviaciÃ³n estÃ¡ndar 38462.34  4.78    8.60   12.21   22.07
Valor mÃ­nimo               5    11     137      32    1924
Q1                     37280    22     168      62    1972
Q2                     67798    24     175      70    1994
Q3                    103279    28     181      79    2006
Q4                    135571    58     211     145    2014
AsimetrÃ­a              -0.02  0.76   -0.15    0.38   -0.93
Curtosis               -1.17  1.35   -0.36   -0.10    0.17
RIC                    65999     6      13      17      34

## Variables cualitativas

In [13]:
from statistics_calc import qualitative_stats

# Columnas cualitativas de interÃ©s
cols_cualitativas = ol_data.select_dtypes(include=["object"]).columns

# Generate statistics
winter_stats = qualitative_stats(winter_games, cols_cualitativas)
summer_stats = qualitative_stats(summer_games, cols_cualitativas)

# Guardar datos en un archivo CSV
winter_stats.to_csv(
    "descriptors/olympics_qualitative-winter.csv", index=False, decimal=","
)
summer_stats.to_csv(
    "descriptors/olympics_qualitative-summer.csv", index=False, decimal=","
)

# Mostrar el DataFrame de estadÃ­sticas
summer_stats

,Columna,Moda,Moda (#),Moda (%),Total de valores,Valores unicos (#),Valores unicos (%),Valores nulos (%)
1,Name,Robert Tait McKenzie,58,0.03,222550,116120,52.18,0
2,Sex,M,163107,73.29,222550,2,0.00,0
3,Team,United States,14526,6.53,222550,1156,0.52,0
4,NOC,USA,15064,6.77,222550,229,0.10,0
5,Region,United States of America,15064,6.77,222538,208,0.09,0.01
6,Region (ISO),USA,15064,6.77,222445,207,0.09,0.05
7,Games,2000 Summer,13821,6.21,222550,29,0.01,0
8,Season,Summer,222550,100,222550,1,0.00,0
9,City,London,22426,10.08,222550,23,0.01,0
10,Host Country,United States of America,27504,12.36,222550,19,0.01,0
11,Host Country (ISO),USA,27504,12.36,222550,19,0.01,0
12,Sport,Athletics,38624,17.36,222550,52,0.02,0
13,Event,Football Men's Football,5733,2.58,222550,651,0.29,0
14,Medal,Gold,11459,5.15,34088,3,0.00,84.68

In [15]:
from statistics_calc import generate_domain_df

# Generate statistics
domain_df = generate_domain_df(ol_data)

# Guardar datos en un archivo CSV
domain_df.to_csv("descriptors/olympics-domain.csv", index=False, decimal=",")

# Mostrar el DataFrame de estadÃ­sticas
domain_df

               Columna  Dominio
0                   ID   135569
1                 Name   134730
2                  Sex        2
3                  Age       75
4               Height       96
5               Weight      221
6                 Team     1183
7                  NOC      229
8               Region      209
9         Region (ISO)      208
10               Games       51
11                Year       35
12              Season        2
13                City       42
14        Host Country       23
15  Host Country (ISO)       23
16               Sport       66
17               Event      765
18               Medal        4

## Entradas por temporada

In [ ]:
# count the number of rows with each season
seasons = ol_data["Season"].value_counts()
seasons

Season
Summer    222552
Winter     48564
Name: count, dtype: int64

## Ciudades que han hosteado las olimpiadas

In [ ]:
# count the number of cities in which the olympics were held
cities = ol_data["City"].nunique()
cities

42

## Veces que se han hosteado las olimpiadas en cada ciudad

In [ ]:
# count how many times the olympics were held in each city
city_counts = ol_data["City"].value_counts()
city_counts.head()

City
London            22426
Athina            15556
Sydney            13821
Atlanta           13780
Rio de Janeiro    13688
Name: count, dtype: int64

## Atletas por pais

In [ ]:
# count the number of athletes from each country
athletes = ol_data["NOC"].value_counts()
athletes.head()

NOC
USA    18853
FRA    12758
GBR    12256
ITA    10715
GER     9830
Name: count, dtype: int64

## Atletas por temporada

In [ ]:
# count the number of athletes that are from each season
athletes_season = ol_data.groupby("Season")["Name"].nunique()
athletes_season

Season
Summer    116122
Winter     18923
Name: Name, dtype: int64

## Atletas por aÃ±o

In [ ]:
# count the number of athletes per year
athletes_year = ol_data.groupby("Year")["Name"].nunique()
athletes_year.head()

Year
1896     176
1900    1220
1904     650
1906     841
1908    2024
Name: Name, dtype: int64

## Medallas ganadas por pais

In [ ]:
# Count the number of medals won by each country
medal_counts = ol_data.groupby("NOC")["Medal"].count()
medal_counts.sort_values(ascending=False).head()

NOC
USA    5637
URS    2503
GER    2165
GBR    2068
FRA    1777
Name: Medal, dtype: int64

## Medallas ganadas por atleta

In [ ]:
# count the atheletes who won the most medals
most_medals = ol_data.groupby("Name")["Medal"].count()
most_medals.sort_values(ascending=False).head()

Name
Michael Fred Phelps, II               28
Larysa Semenivna Latynina (Diriy-)    18
Nikolay Yefimovich Andrianov          15
Takashi Ono                           13
Borys Anfiyanovych Shakhlin           13
Name: Medal, dtype: int64

## Atletas por deporte

In [ ]:
# count the most popular sports == the sports with the most athletes
popular_sports = ol_data["Sport"].value_counts()
popular_sports.head()

Sport
Athletics     38624
Gymnastics    26707
Swimming      23195
Shooting      11448
Cycling       10859
Name: count, dtype: int64

## Atletas por evento

In [ ]:
# count the most popular events == the events with the most athletes
popular_events = ol_data["Event"].value_counts()
popular_events.head()

Event
Football Men's Football        5733
Ice Hockey Men's Ice Hockey    4762
Hockey Men's Hockey            3958
Water Polo Men's Water Polo    3358
Basketball Men's Basketball    3280
Name: count, dtype: int64

## Deportes antiguos que aun se existen

In [ ]:
# Find the first year each event was held
first_year = ol_data.groupby("Event")["Year"].min()

# Find the most recent year in the data
latest_year = ol_data["Year"].max()

# Find the events held in the most recent year
latest_events = ol_data[ol_data["Year"] == latest_year]["Event"].unique()

# Count the number of events that were first held in the earliest year and are still being held
oldest_events_still_held = first_year[first_year.index.isin(latest_events)]

oldest_events_still_held

Event
Archery Men's Individual                          1972
Archery Men's Team                                1988
Archery Women's Individual                        1972
Archery Women's Team                              1988
Athletics Men's 1,500 metres                      1896
                                                  ...
Wrestling Women's Flyweight, Freestyle            2004
Wrestling Women's Heavyweight, Freestyle          2004
Wrestling Women's Light-Heavyweight, Freestyle    2016
Wrestling Women's Lightweight, Freestyle          2004
Wrestling Women's Middleweight, Freestyle         2004
Name: Year, Length: 306, dtype: int64

## Atletas por sexo

In [ ]:
# count the number of athletes for each sex
athletes_sex = data["Sex"].value_counts()
athletes_sex

Sex
M    196594
F     74522
Name: count, dtype: int64

## Atletas por sexo y pais

In [ ]:
# count the athletes by sex and country
athletes_by_sex_country = data.groupby(["Sex", "NOC"]).size().reset_index(name="Count")
athletes_by_sex_country.head()

  Sex  NOC  Count
0   F  AFG      5
1   F  AHO     12
2   F  ALB     27
3   F  ALG     94
4   F  AND     42

## Atletas por sexo y deporte

In [ ]:
# count the athletes by sex and sport
athletes_by_sex_sport = data.groupby(["Sex", "Sport"]).size().reset_index(name="Count")
athletes_by_sex_sport.head()

  Sex             Sport  Count
0   F     Alpine Skiing   3398
1   F          Alpinism      1
2   F           Archery   1015
3   F  Art Competitions    377
4   F         Athletics  11666

## Medallas ganadas por pais (por tipo de medalla)

In [ ]:
# count the countries that have won the most of each medal
gold_countries = data[data["Medal"] == "Gold"]["NOC"].value_counts()
silver_countries = data[data["Medal"] == "Silver"]["NOC"].value_counts()
bronze_countries = data[data["Medal"] == "Bronze"]["NOC"].value_counts()

gold_countries.head(), silver_countries.head(), bronze_countries.head()

(NOC
 USA    2638
 URS    1082
 GER     745
 GBR     678
 ITA     575
 Name: count, dtype: int64,
 NOC
 USA    1641
 GBR     739
 URS     732
 GER     674
 FRA     610
 Name: count, dtype: int64,
 NOC
 USA    1358
 GER     746
 URS     689
 FRA     666
 GBR     651
 Name: count, dtype: int64)

## Deportes por temporada

In [ ]:
# count the number of sports held in each season
sports_season = data.groupby("Season")["Sport"].nunique()
sports_season

Season
Summer    52
Winter    17
Name: Sport, dtype: int64

## Eventos por temporada

In [ ]:
# count the number of events held in each season
events_season = data.groupby("Season")["Event"].nunique()
events_season

Season
Summer    651
Winter    119
Name: Event, dtype: int64