# Data load

In [1]:
import pandas as pd


def custom_formatter(x):
    if x % 1 == 0:
        return f"{x:.0f}"
    else:
        return f"{x:.2f}"


pd.options.display.float_format = custom_formatter

ol_data = pd.read_csv("datasets/olympics.csv")
ol_data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170,60,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29,179,89,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27,176,59,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27,176,59,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30,185,96,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34,185,96,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [2]:
ol_data.dtypes

ID          int64
Name       object
Sex        object
Age       float64
Height    float64
Weight    float64
Team       object
NOC        object
Games      object
Year        int64
Season     object
City       object
Sport      object
Event      object
Medal      object
dtype: object

# Clean up

In [3]:
cities_countries = {
    "Barcelona": "Spain",
    "London": "United Kingdom",
    "Antwerpen": "Belgium",
    "Paris": "France",
    "Calgary": "Canada",
    "Albertville": "France",
    "Lillehammer": "Norway",
    "Los Angeles": "United States",
    "Salt Lake City": "United States",
    "Helsinki": "Finland",
    "Lake Placid": "United States",
    "Sydney": "Australia",
    "Atlanta": "United States",
    "Stockholm": "Sweden",
    "Sochi": "Russia",
    "Nagano": "Japan",
    "Torino": "Italy",
    "Beijing": "China",
    "Rio de Janeiro": "Brazil",
    "Athina": "Greece",
    "Squaw Valley": "United States",
    "Innsbruck": "Austria",
    "Sarajevo": "Bosnia and Herzegovina",
    "Mexico City": "Mexico",
    "Munich": "Germany",
    "Seoul": "South Korea",
    "Berlin": "Germany",
    "Oslo": "Norway",
    "Cortina d'Ampezzo": "Italy",
    "Melbourne": "Australia",
    "Roma": "Italy",
    "Amsterdam": "Netherlands",
    "Montreal": "Canada",
    "Moskva": "Russia",
    "Tokyo": "Japan",
    "Vancouver": "Canada",
    "Grenoble": "France",
    "Sapporo": "Japan",
    "Chamonix": "France",
    "St. Louis": "United States",
    "Sankt Moritz": "Switzerland",
    "Garmisch-Partenkirchen": "Germany",
}

# Map the Ciudad column to the NOC codes
ol_data["Host country"] = ol_data["City"].map(cities_countries)

# Define the new column order
column_order = ol_data.columns.tolist()
ciudad_index = column_order.index("City")
column_order.insert(
    ciudad_index + 1, column_order.pop(column_order.index("Host country"))
)

# Create a new DataFrame with the columns in the desired order
ol_data = ol_data[column_order]
ol_data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Host country,Sport,Event,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,1992 Summer,1992,Summer,Barcelona,Spain,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170,60,China,CHN,2012 Summer,2012,Summer,London,United Kingdom,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Belgium,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,France,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Canada,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
# Read the noc_regions.csv file into a pandas DataFrame
noc_regions = pd.read_csv("datasets/noc_regions_translated.csv")

# Select only the NOC and region columns from noc_regions
noc_regions = noc_regions[["NOC", "region"]]

# Merge the original DataFrame (ol_data) with the noc_regions DataFrame
# The merge is done based on the "NOC" column
# The "how='left'" part means that all the rows from ol_data and only the ones from noc_regions that match will be kept
ol_data = ol_data.merge(noc_regions, on="NOC", how="left")

# Display the first few rows of the resulting DataFrame
ol_data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Host country,Sport,Event,Medal,region
0,1,A Dijiang,M,24,180,80,China,CHN,1992 Summer,1992,Summer,Barcelona,Spain,Basketball,Basketball Men's Basketball,NaN,China
1,2,A Lamusi,M,23,170,60,China,CHN,2012 Summer,2012,Summer,London,United Kingdom,Judo,Judo Men's Extra-Lightweight,NaN,China
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Belgium,Football,Football Men's Football,NaN,Denmark
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,France,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Canada,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands

In [5]:
# Rename the 'region' column to 'Region'
ol_data = ol_data.rename(columns={"region": "Region"})

# Define the new column order
column_order = ol_data.columns.tolist()
noc_index = column_order.index("NOC")
column_order.insert(noc_index + 1, column_order.pop(column_order.index("Region")))

# Create a new DataFrame with the columns in the desired order
ol_data = ol_data[column_order]
ol_data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Region,Games,Year,Season,City,Host country,Sport,Event,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,China,1992 Summer,1992,Summer,Barcelona,Spain,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170,60,China,CHN,China,2012 Summer,2012,Summer,London,United Kingdom,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,Denmark,1920 Summer,1920,Summer,Antwerpen,Belgium,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,Denmark,1900 Summer,1900,Summer,Paris,France,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,Netherlands,1988 Winter,1988,Winter,Calgary,Canada,Speed Skating,Speed Skating Women's 500 metres,NaN

In [6]:
# add "Singapore" to the Region column for the NOC code "SGP"
ol_data.loc[ol_data["NOC"] == "SGP", "Region"] = "Singapore"

In [7]:
import pycountry


# Function to return the alpha_3 country code
def get_country_code(country_name):
    if isinstance(country_name, str):
        if country_name == "Russia":
            country_name = "Russian Federation"
        elif (
            country_name == "Yemen"
            or country_name == "South Yemen"
            or country_name == "North Yemen"
        ):
            country_name = "Yemen, Republic of"
        elif country_name == "Syria":
            country_name = "Syrian Arab Republic"
        elif country_name == "Palestine":
            country_name = "Palestine, State of"
        elif country_name == "Tanzania":
            country_name = "Tanzania, United Republic of"
        elif country_name == "Iran":
            country_name = "Iran, Islamic Republic of"
        elif country_name == "Czech Republic":
            country_name = "Czechia"
        elif country_name == "Brunei":
            country_name = "Brunei Darussalam"
        elif country_name == "Virgin Islands, US":
            country_name = "Virgin Islands, U.S."
        elif country_name == "Venezuela":
            country_name = "Venezuela, Bolivarian Republic of"
        elif (
            country_name == "Republic of Congo"
            or country_name == "Congo (Kinshasa)"
            or country_name == "Congo (Brazzaville)"
            or country_name == "Democratic Republic of the Congo"
        ):
            country_name = "Congo, The Democratic Republic of the"
        elif country_name == "Ivory Coast":
            country_name = "CÃ´te d'Ivoire"
        elif country_name == "Saint Kitts":
            country_name = "Saint Kitts and Nevis"
        elif country_name == "Trinidad":
            country_name = "Trinidad and Tobago"
        elif country_name == "Saint Vincent":
            country_name = "Saint Vincent and the Grenadines"
        elif country_name == "South Korea":
            country_name = "Korea, Republic of"
        elif country_name == "Laos":
            country_name = "Lao People's Democratic Republic"
        elif country_name == "Cape Verde":
            country_name = "Cabo Verde"
        elif country_name == "Bolivia":
            country_name = "Bolivia, Plurinational State of"
        elif country_name == "Antigua":
            country_name = "Antigua and Barbuda"
        elif country_name == "Curacao":
            country_name = "CuraÃ§ao"
        elif country_name == "Turkey":
            country_name = "TÃ¼rkiye"
        elif country_name == "Swaziland":
            country_name = "Eswatini"
        elif country_name == "Moldova":
            country_name = "Moldova, Republic of"
        elif country_name == "Micronesia":
            country_name = "Micronesia, Federated States of"
        elif country_name == "Taiwan":
            country_name = "Taiwan, Province of China"
        elif country_name == "North Korea":
            country_name = "Korea, Democratic People's Republic of"
        elif country_name == "Vietnam":
            country_name = "Viet Nam"
        elif country_name == "Macedonia":
            country_name = "North Macedonia"
        try:
            return pycountry.countries.get(name=country_name).alpha_3
        except AttributeError:
            return None
    else:
        return None


# Apply the function to the 'region' column to create the 'code' column
ol_data["Region (ISO)"] = ol_data["Region"].apply(get_country_code)

# Apply the function to the 'pais anfitrion' column to create the 'code' column
ol_data["Host country (ISO)"] = ol_data["Host country"].apply(get_country_code)

ol_data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Region,Games,Year,Season,City,Host country,Sport,Event,Medal,Region (ISO),Host country (ISO)
0,1,A Dijiang,M,24,180,80,China,CHN,China,1992 Summer,1992,Summer,Barcelona,Spain,Basketball,Basketball Men's Basketball,NaN,CHN,ESP
1,2,A Lamusi,M,23,170,60,China,CHN,China,2012 Summer,2012,Summer,London,United Kingdom,Judo,Judo Men's Extra-Lightweight,NaN,CHN,GBR
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,Denmark,1920 Summer,1920,Summer,Antwerpen,Belgium,Football,Football Men's Football,NaN,DNK,BEL
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,Denmark,1900 Summer,1900,Summer,Paris,France,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,DNK,FRA
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,Netherlands,1988 Winter,1988,Winter,Calgary,Canada,Speed Skating,Speed Skating Women's 500 metres,NaN,NLD,CAN

In [8]:
# Get a list of the column names
cols = ol_data.columns.tolist()

# Move the 'RegiÃ³n (ISO)' column to the right of the 'RegiÃ³n' column
cols.insert(cols.index("Region") + 1, cols.pop(cols.index("Region (ISO)")))

# Move the 'Pais anfitriÃ³n (ISO)' column to the right of the 'Pais anfitriÃ³n' column
cols.insert(cols.index("Host country") + 1, cols.pop(cols.index("Host country (ISO)")))

# Reorder the DataFrame
ol_data = ol_data[cols]

ol_data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Region,Region (ISO),Games,Year,Season,City,Host country,Host country (ISO),Sport,Event,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,China,CHN,1992 Summer,1992,Summer,Barcelona,Spain,ESP,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170,60,China,CHN,China,CHN,2012 Summer,2012,Summer,London,United Kingdom,GBR,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,Denmark,DNK,1920 Summer,1920,Summer,Antwerpen,Belgium,BEL,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,Denmark,DNK,1900 Summer,1900,Summer,Paris,France,FRA,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,Netherlands,NLD,1988 Winter,1988,Winter,Calgary,Canada,CAN,Speed Skating,Speed Skating Women's 500 metres,NaN

In [9]:
autonomous_territories_with_noc = [
    "Puerto Rico",
    "Hong Kong",
    "Guam",
    "Macau",
    "Bermuda",
    "Cayman Islands",
    "Aruba",
    "CuraÃ§ao",
    "United States Virgin Islands",
    "Chinese Taipei (Taiwan)",
    "Cook Islands",
    "Niue",
    "American Samoa",
    "Norfolk Island",
    "Palau",
    "Kosovo",
    "Gibraltar",
    "San Marino",
    "Monaco",
    "Faroe Islands",
    "Ã…land Islands",
    "Greenland",
    "New Caledonia",
    "French Polynesia",
    "Isle of Man",
    "Liechtenstein",
]

# check if any of the values in the "RegiÃ³n" column are in the list of autonomous territories
ol_data["Region"].isin(autonomous_territories_with_noc).any()

# show the rows where the "Region" column is in the list of autonomous territories
len(ol_data[ol_data["Region"].isin(autonomous_territories_with_noc)])

2233

In [10]:
# replace all the values in the "RegiÃ³n" column that are in the list of autonomous territories with "Autonomous"
ol_data.loc[ol_data["Region"].isin(autonomous_territories_with_noc), "Region"] = (
    "Autonomous"
)
ol_data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Region,Region (ISO),Games,Year,Season,City,Host country,Host country (ISO),Sport,Event,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,China,CHN,1992 Summer,1992,Summer,Barcelona,Spain,ESP,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170,60,China,CHN,China,CHN,2012 Summer,2012,Summer,London,United Kingdom,GBR,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,Denmark,DNK,1920 Summer,1920,Summer,Antwerpen,Belgium,BEL,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,Denmark,DNK,1900 Summer,1900,Summer,Paris,France,FRA,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,Netherlands,NLD,1988 Winter,1988,Winter,Calgary,Canada,CAN,Speed Skating,Speed Skating Women's 500 metres,NaN

In [11]:
# add YEM to the 'RegiÃ³n (ISO)' column for the 'Yemen' region
ol_data.loc[ol_data["Region"] == "Yemen", "Region (ISO)"] = "YEM"

In [12]:
# show entries with nan values in the region (iso) column and save it to a file
ol_data[ol_data["Region (ISO)"].isna()].to_csv(
    "datasets/missing_regions.csv", index=False
)

In [13]:
# add a Entidad column that is read from another file, based on the noc code
entidades = pd.read_csv("datasets/noc_regions.csv")[["NOC", "noc_full"]]
ol_data = ol_data.merge(entidades, on="NOC", how="left")

# rename the column to entidad
ol_data = ol_data.rename(columns={"noc_full": "NOC full"})

# move the NOC full column to after the noc column
column_order = ol_data.columns.tolist()
noc_index = column_order.index("NOC")
column_order.insert(noc_index + 1, column_order.pop(column_order.index("NOC full")))
ol_data = ol_data[column_order]

ol_data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,NOC full,Region,Region (ISO),Games,Year,Season,City,Host country,Host country (ISO),Sport,Event,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,China,China,CHN,1992 Summer,1992,Summer,Barcelona,Spain,ESP,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170,60,China,CHN,China,China,CHN,2012 Summer,2012,Summer,London,United Kingdom,GBR,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,Denmark,Denmark,DNK,1920 Summer,1920,Summer,Antwerpen,Belgium,BEL,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,Denmark,Denmark,DNK,1900 Summer,1900,Summer,Paris,France,FRA,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,Netherlands,Netherlands,NLD,1988 Winter,1988,Winter,Calgary,Canada,CAN,Speed Skating,Speed Skating Women's 500 metres,NaN

In [14]:
def check_gender(row):
    if (
        row["Sex"] == "F"
        and "women's" not in row["Event"].lower()
        and "mixed" not in row["Event"].lower()
    ):
        return False
    elif (
        row["Sex"] == "M"
        and "men's" not in row["Event"].lower()
        and "mixed" not in row["Event"].lower()
    ):
        return False
    return True


ol_data["gender_check"] = ol_data.apply(check_gender, axis=1)

# Check if there are any rows where gender_check is False
any_gender_mismatch = (ol_data["gender_check"] == False).any()
ol_data.drop("gender_check", axis=1, inplace=True)

print(any_gender_mismatch)

False

In [15]:
def categorize_event(row):
    event = row["Event"].lower()
    if "mixed" in event:
        return "Mixed"
    elif "women's" in event or "(women)'s" in event:
        return "Women's"
    elif "men's" in event or "(men)'s" in event:
        return "Men's"
    else:
        print(f"Uncategorized event: {row['Event']}")
        return "Other"


# Create Categoria column
ol_data["Event category"] = ol_data.apply(categorize_event, axis=1)

# Get a list of the column names
cols = list(ol_data.columns)

# Move the Event category column to be after the Evento column
cols.insert(cols.index("Event") + 1, cols.pop(cols.index("Event category")))

# Reorder the columns
ol_data = ol_data[cols]

# Strip leading and trailing whitespace
ol_data["Event"] = ol_data["Event"].str.strip()

In [16]:
ol_data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,NOC full,Region,...,Games,Year,Season,City,Host country,Host country (ISO),Sport,Event,Event category,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,China,China,...,1992 Summer,1992,Summer,Barcelona,Spain,ESP,Basketball,Basketball Men's Basketball,Men's,NaN
1,2,A Lamusi,M,23,170,60,China,CHN,China,China,...,2012 Summer,2012,Summer,London,United Kingdom,GBR,Judo,Judo Men's Extra-Lightweight,Men's,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,Denmark,Denmark,...,1920 Summer,1920,Summer,Antwerpen,Belgium,BEL,Football,Football Men's Football,Men's,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,Denmark,Denmark,...,1900 Summer,1900,Summer,Paris,France,FRA,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Men's,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,Netherlands,Netherlands,...,1988 Winter,1988,Winter,Calgary,Canada,CAN,Speed Skating,Speed Skating Women's 500 metres,Women's,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29,179,89,Poland-1,POL,Poland,Poland,...,1976 Winter,1976,Winter,Innsbruck,Austria,AUT,Luge,Luge Mixed (Men)'s Doubles,Mixed,NaN
271112,135570,Piotr ya,M,27,176,59,Poland,POL,Poland,Poland,...,2014 Winter,2014,Winter,Sochi,Russia,RUS,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",Men's,NaN
271113,135570,Piotr ya,M,27,176,59,Poland,POL,Poland,Poland,...,2014 Winter,2014,Winter,Sochi,Russia,RUS,Ski Jumping,"Ski Jumping Men's Large Hill, Team",Men's,NaN
271114,135571,Tomasz Ireneusz ya,M,30,185,96,Poland,POL,Poland,Poland,...,1998 Winter,1998,Winter,Nagano,Japan,JPN,Bobsleigh,Bobsleigh Men's Four,Men's,NaN
271115,135571,Tomasz Ireneusz ya,M,34,185,96,Poland,POL,Poland,Poland,...,2002 Winter,2002,Winter,Salt Lake City,United States,USA,Bobsleigh,Bobsleigh Men's Four,Men's,NaN

In [17]:
import re


def remove_gender_strings(event):
    event = event.lower()
    event = re.sub(r"\(?(men|women)\)?'s", "", event)
    event = re.sub("mixed", "", event)
    return event.strip().title()


# Apply remove_gender_strings to the Evento column
ol_data["Event"] = ol_data["Event"].apply(remove_gender_strings)

In [18]:
ol_data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,NOC full,Region,...,Games,Year,Season,City,Host country,Host country (ISO),Sport,Event,Event category,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,China,China,...,1992 Summer,1992,Summer,Barcelona,Spain,ESP,Basketball,Basketball Basketball,Men's,NaN
1,2,A Lamusi,M,23,170,60,China,CHN,China,China,...,2012 Summer,2012,Summer,London,United Kingdom,GBR,Judo,Judo Extra-Lightweight,Men's,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,Denmark,Denmark,...,1920 Summer,1920,Summer,Antwerpen,Belgium,BEL,Football,Football Football,Men's,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,Denmark,Denmark,...,1900 Summer,1900,Summer,Paris,France,FRA,Tug-Of-War,Tug-Of-War Tug-Of-War,Men's,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,Netherlands,Netherlands,...,1988 Winter,1988,Winter,Calgary,Canada,CAN,Speed Skating,Speed Skating 500 Metres,Women's,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29,179,89,Poland-1,POL,Poland,Poland,...,1976 Winter,1976,Winter,Innsbruck,Austria,AUT,Luge,Luge Doubles,Mixed,NaN
271112,135570,Piotr ya,M,27,176,59,Poland,POL,Poland,Poland,...,2014 Winter,2014,Winter,Sochi,Russia,RUS,Ski Jumping,"Ski Jumping Large Hill, Individual",Men's,NaN
271113,135570,Piotr ya,M,27,176,59,Poland,POL,Poland,Poland,...,2014 Winter,2014,Winter,Sochi,Russia,RUS,Ski Jumping,"Ski Jumping Large Hill, Team",Men's,NaN
271114,135571,Tomasz Ireneusz ya,M,30,185,96,Poland,POL,Poland,Poland,...,1998 Winter,1998,Winter,Nagano,Japan,JPN,Bobsleigh,Bobsleigh Four,Men's,NaN
271115,135571,Tomasz Ireneusz ya,M,34,185,96,Poland,POL,Poland,Poland,...,2002 Winter,2002,Winter,Salt Lake City,United States,USA,Bobsleigh,Bobsleigh Four,Men's,NaN

In [19]:
# Remove Deporte values from Evento column
ol_data["Event"] = ol_data.apply(
    lambda row: row["Event"].replace(row["Sport"], ""), axis=1
)
ol_data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,NOC full,Region,...,Games,Year,Season,City,Host country,Host country (ISO),Sport,Event,Event category,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,China,China,...,1992 Summer,1992,Summer,Barcelona,Spain,ESP,Basketball,,Men's,NaN
1,2,A Lamusi,M,23,170,60,China,CHN,China,China,...,2012 Summer,2012,Summer,London,United Kingdom,GBR,Judo,Extra-Lightweight,Men's,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,Denmark,Denmark,...,1920 Summer,1920,Summer,Antwerpen,Belgium,BEL,Football,,Men's,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,Denmark,Denmark,...,1900 Summer,1900,Summer,Paris,France,FRA,Tug-Of-War,,Men's,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,Netherlands,Netherlands,...,1988 Winter,1988,Winter,Calgary,Canada,CAN,Speed Skating,500 Metres,Women's,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29,179,89,Poland-1,POL,Poland,Poland,...,1976 Winter,1976,Winter,Innsbruck,Austria,AUT,Luge,Doubles,Mixed,NaN
271112,135570,Piotr ya,M,27,176,59,Poland,POL,Poland,Poland,...,2014 Winter,2014,Winter,Sochi,Russia,RUS,Ski Jumping,"Large Hill, Individual",Men's,NaN
271113,135570,Piotr ya,M,27,176,59,Poland,POL,Poland,Poland,...,2014 Winter,2014,Winter,Sochi,Russia,RUS,Ski Jumping,"Large Hill, Team",Men's,NaN
271114,135571,Tomasz Ireneusz ya,M,30,185,96,Poland,POL,Poland,Poland,...,1998 Winter,1998,Winter,Nagano,Japan,JPN,Bobsleigh,Four,Men's,NaN
271115,135571,Tomasz Ireneusz ya,M,34,185,96,Poland,POL,Poland,Poland,...,2002 Winter,2002,Winter,Salt Lake City,United States,USA,Bobsleigh,Four,Men's,NaN

In [20]:
import numpy as np

# Strip whitespace and replace empty strings with NaN
ol_data["Event"] = ol_data["Event"].str.strip().replace("", np.nan)

# Fill NaN values in the 'Event' column with the values in 'Deporte'
ol_data["Event"] = ol_data["Event"].fillna(ol_data["Sport"])

ol_data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,NOC full,Region,...,Games,Year,Season,City,Host country,Host country (ISO),Sport,Event,Event category,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,China,China,...,1992 Summer,1992,Summer,Barcelona,Spain,ESP,Basketball,Basketball,Men's,NaN
1,2,A Lamusi,M,23,170,60,China,CHN,China,China,...,2012 Summer,2012,Summer,London,United Kingdom,GBR,Judo,Extra-Lightweight,Men's,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,Denmark,Denmark,...,1920 Summer,1920,Summer,Antwerpen,Belgium,BEL,Football,Football,Men's,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,Denmark,Denmark,...,1900 Summer,1900,Summer,Paris,France,FRA,Tug-Of-War,Tug-Of-War,Men's,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,Netherlands,Netherlands,...,1988 Winter,1988,Winter,Calgary,Canada,CAN,Speed Skating,500 Metres,Women's,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29,179,89,Poland-1,POL,Poland,Poland,...,1976 Winter,1976,Winter,Innsbruck,Austria,AUT,Luge,Doubles,Mixed,NaN
271112,135570,Piotr ya,M,27,176,59,Poland,POL,Poland,Poland,...,2014 Winter,2014,Winter,Sochi,Russia,RUS,Ski Jumping,"Large Hill, Individual",Men's,NaN
271113,135570,Piotr ya,M,27,176,59,Poland,POL,Poland,Poland,...,2014 Winter,2014,Winter,Sochi,Russia,RUS,Ski Jumping,"Large Hill, Team",Men's,NaN
271114,135571,Tomasz Ireneusz ya,M,30,185,96,Poland,POL,Poland,Poland,...,1998 Winter,1998,Winter,Nagano,Japan,JPN,Bobsleigh,Four,Men's,NaN
271115,135571,Tomasz Ireneusz ya,M,34,185,96,Poland,POL,Poland,Poland,...,2002 Winter,2002,Winter,Salt Lake City,United States,USA,Bobsleigh,Four,Men's,NaN

In [21]:
# check if one event has multiple entries with a different value in the categoria evento column
multiple_categories = ol_data.groupby("Event")["Event category"].nunique() > 1
multiple_categories = multiple_categories[multiple_categories].index.tolist()
multiple_categories

['1,000 Metres',
 '1,500 Metres',
 '10 Kilometres',
 '10 Kilometres Open Water',
 '10 Kilometres Walk',
 '10,000 Metres',
 '100 Metres',
 '100 Metres Backstroke',
 '100 Metres Breaststroke',
 '100 Metres Butterfly',
 '100 Metres Freestyle',
 '15 Kilometres',
 '20 Kilometres',
 '20 Kilometres Walk',
 '200 Metres',
 '200 Metres Backstroke',
 '200 Metres Breaststroke',
 '200 Metres Butterfly',
 '200 Metres Freestyle',
 '200 Metres Individual Medley',
 '3,000 Metres Steeplechase',
 '30 Kilometres',
 '4 X 100 Metres Freestyle Relay',
 '4 X 100 Metres Medley Relay',
 '4 X 100 Metres Relay',
 '4 X 200 Metres Freestyle Relay',
 '4 X 400 Metres Relay',
 '4 X 7.5 Kilometres Relay',
 '400 Metres',
 '400 Metres Freestyle',
 '400 Metres Hurdles',
 '400 Metres Individual Medley',
 '5,000 Metres',
 '50 Metres Freestyle',
 '500 Metres',
 '800 Metres',
 'Aerials',
 'Air Pistol, 10 Metres',
 'Air Rifle, 10 Metres',
 'Basketball',
 'Beach Volleyball',
 'Bmx',
 'Boardercross',
 'Combined',
 'Coxed Eights',
 'Coxed Fours',
 'Coxless Fours',
 'Coxless Pairs',
 'Curling',
 'Discus Throw',
 'Double Sculls',
 'Double Trap',
 'Doubles',
 'Doubles, Covered Courts',
 'Downhill',
 'Dressage, Individual',
 'Dressage, Team',
 'Epee, Individual',
 'Epee, Team',
 'Extra-Lightweight',
 'Featherweight',
 'Featherweight, Freestyle',
 'Floor Exercise',
 'Flyweight',
 'Flyweight, Freestyle',
 'Foil, Individual',
 'Foil, Team',
 'Football',
 'Free Pistol, 50 Metres',
 'Free Rifle, Three Positions, 300 Metres',
 'Giant Slalom',
 'Half-Heavyweight',
 'Half-Lightweight',
 'Half-Middleweight',
 'Halfpipe',
 'Hammer Throw',
 'Handball',
 'Heavyweight',
 'Heavyweight, Freestyle',
 'High Jump',
 'Hockey',
 'Horse Vault',
 'Ice Hockey',
 'Individual',
 'Individual All-Around',
 'Individual Time Trial',
 'Javelin Throw',
 'Jumping, Individual',
 'Jumping, Team',
 'Kayak Doubles, 500 Metres',
 'Kayak Singles, 200 Metres',
 'Kayak Singles, 500 Metres',
 'Kayak Singles, Slalom',
 'Keirin',
 'Light-Heavyweight',
 'Light-Heavyweight, Freestyle',
 'Lightweight',
 'Lightweight Double Sculls',
 'Lightweight, Freestyle',
 'Long Jump',
 'Marathon',
 'Middleweight',
 'Middleweight, Freestyle',
 'Moguls',
 'Mountainbike, Cross-Country',
 'Normal Hill, Individual',
 'Olympic Distance',
 'Omnium',
 'One Person Dinghy',
 'Parallel Giant Slalom',
 'Parallel Slalom',
 'Pentathlon',
 'Plain High',
 'Platform',
 'Points Race',
 'Pole Vault',
 'Quadruple Sculls',
 'Rapid-Fire Pistol, 25 Metres',
 'Road Race, Individual',
 'Rugby Sevens',
 'Running Target, 50 Metres',
 'Sabre, Individual',
 'Sabre, Team',
 'Shot Put',
 'Single Sculls',
 'Singles',
 'Singles, Covered Courts',
 'Skeet',
 'Skeleton',
 'Ski Cross',
 'Skiff',
 'Slalom',
 'Slopestyle',
 'Small-Bore Rifle, Prone, 50 Metres',
 'Small-Bore Rifle, Three Positions, 50 Metres',
 'Springboard',
 'Sprint',
 'Super G',
 'Super-Heavyweight',
 'Synchronized Platform',
 'Synchronized Springboard',
 'Team',
 'Team All-Around',
 'Team Round',
 'Team Sprint',
 'Three Person Keelboat',
 'Three-Day Event, Individual',
 'Three-Day Event, Team',
 'Trap',
 'Triple Jump',
 'Two',
 'Two Person Dinghy',
 'Two Person Keelboat',
 'Unknown Event',
 'Volleyball',
 'Water Polo',
 'Welterweight',
 'Windsurfer']

In [22]:
# fill all nan values in age, height and weight with 'Unknown'
ol_data[["Age", "Height", "Weight"]] = ol_data[["Age", "Height", "Weight"]].fillna(
    "Unknown"
)
ol_data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,NOC full,Region,...,Games,Year,Season,City,Host country,Host country (ISO),Sport,Event,Event category,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,China,China,...,1992 Summer,1992,Summer,Barcelona,Spain,ESP,Basketball,Basketball,Men's,NaN
1,2,A Lamusi,M,23,170,60,China,CHN,China,China,...,2012 Summer,2012,Summer,London,United Kingdom,GBR,Judo,Extra-Lightweight,Men's,NaN
2,3,Gunnar Nielsen Aaby,M,24,Unknown,Unknown,Denmark,DEN,Denmark,Denmark,...,1920 Summer,1920,Summer,Antwerpen,Belgium,BEL,Football,Football,Men's,NaN
3,4,Edgar Lindenau Aabye,M,34,Unknown,Unknown,Denmark/Sweden,DEN,Denmark,Denmark,...,1900 Summer,1900,Summer,Paris,France,FRA,Tug-Of-War,Tug-Of-War,Men's,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,Netherlands,Netherlands,...,1988 Winter,1988,Winter,Calgary,Canada,CAN,Speed Skating,500 Metres,Women's,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29,179,89,Poland-1,POL,Poland,Poland,...,1976 Winter,1976,Winter,Innsbruck,Austria,AUT,Luge,Doubles,Mixed,NaN
271112,135570,Piotr ya,M,27,176,59,Poland,POL,Poland,Poland,...,2014 Winter,2014,Winter,Sochi,Russia,RUS,Ski Jumping,"Large Hill, Individual",Men's,NaN
271113,135570,Piotr ya,M,27,176,59,Poland,POL,Poland,Poland,...,2014 Winter,2014,Winter,Sochi,Russia,RUS,Ski Jumping,"Large Hill, Team",Men's,NaN
271114,135571,Tomasz Ireneusz ya,M,30,185,96,Poland,POL,Poland,Poland,...,1998 Winter,1998,Winter,Nagano,Japan,JPN,Bobsleigh,Four,Men's,NaN
271115,135571,Tomasz Ireneusz ya,M,34,185,96,Poland,POL,Poland,Poland,...,2002 Winter,2002,Winter,Salt Lake City,United States,USA,Bobsleigh,Four,Men's,NaN

In [23]:
# save the modified data to a new csv file
ol_data.to_csv("datasets/olympics-spanish.csv", index=False)

# Analysis

## Valores faltantes

In [61]:
# count the total number cells
print("Total cells:", ol_data.size)

# count the total number of cells with missing values
print("Total missing cells:", ol_data.isnull().sum().sum())

Total cells: 6235668
Total missing cells: 438083

In [62]:
# Count the number of unique values in each column
unique_values = ol_data.nunique()

# Convert the Series to a DataFrame
unique_values_df = unique_values.to_frame().reset_index()

# Rename the columns
unique_values_df.columns = ["Columna", "Dominio"]

# Save the DataFrame to a CSV file
unique_values_df.to_csv(
    "descriptors/olympics_unique_values.csv", index=False, decimal="."
)
unique_values_df

                 Columna  Dominio
0                     ID   135571
1                 Nombre   134732
2      AÃ±o de Nacimiento       74
3                   Sexo        2
4                   Edad       74
5                 Altura       95
6                   Peso      220
7                 Equipo     1184
8                    NOC      230
9                Entidad      222
10                RegiÃ³n      195
11          RegiÃ³n (ISO)      203
12                   AÃ±o       35
13             Temporada        2
14                Juegos       51
15                Ciudad       42
16        Pais anfitriÃ³n       23
17  Pais anfitriÃ³n (ISO)       23
18               Deporte       66
19                Evento      509
20      Categoria evento        3
21               Medalla        3
22                   IMC     3861

In [63]:
# count the number of missing values in each column
missing = ol_data.isnull().sum()
missing = missing[missing > 0]
missing.sort_values(inplace=True)
missing.drop("Medalla", inplace=True)
missing

RegiÃ³n                  21
RegiÃ³n (ISO)           123
Entidad                349
AÃ±o de Nacimiento     9474
Edad                  9474
Altura               60171
Peso                 62875
IMC                  64263
dtype: int64

## Separacion por tipos de juegos

In [64]:
# divide the DataFrame into two separate DataFrames
# one for the summer games and one for the winter games
summer_games = ol_data[ol_data.Temporada == "Verano"]
winter_games = ol_data[ol_data.Temporada == "Invierno"]

## `.describe` con valores de skewness y curtosis

In [65]:
from statistics_calc import descriptors, translate_descriptors

# Generate descriptors
winter_desc = descriptors(winter_games)
summer_desc = descriptors(summer_games)

# Translate the descriptors to Spanish
winter_desc = translate_descriptors(winter_desc)
summer_desc = translate_descriptors(summer_desc)

# Export the DataFrame to a CSV file
winter_desc.to_csv("descriptors/olympics-quantitative-winter.csv", decimal=",")
summer_desc.to_csv("descriptors/olympics-quantitative-summer.csv", decimal=",")

winter_desc

,ID,AÃ±o de Nacimiento,Edad,Altura,Peso,AÃ±o,IMC
Total de valores,48564,48279,48279,40250,39543,48564,39492
Media,69394.75,1988.76,25.04,174.59,70.76,1987.83,23.05
DesviaciÃ³n estÃ¡ndar,38462.34,5.23,4.78,8.60,12.21,22.07,2.50
Valor mÃ­nimo,5,1958,11,137,32,1924,13.77
Q1,37280,1986,22,168,62,1972,21.30
Q2,67798,1989,24,175,70,1994,22.84
Q3,103279,1992,28,181,79,2006,24.54
Q4,135571,2005,58,211,145,2014,39.54
AsimetrÃ­a,-0.02,-0.52,0.76,-0.15,0.38,-0.93,0.53
Curtosis,-1.17,0.73,1.35,-0.36,-0.10,0.17,0.64
RIC,65999,6,6,13,17,34,3.25

## Variables cualitativas

In [66]:
from statistics_calc import qualitative_stats

# Columnas cualitativas de interÃ©s
cols_cualitativas = ol_data.select_dtypes(include=["object"]).columns

# Generate statistics
winter_stats = qualitative_stats(winter_games, cols_cualitativas)
summer_stats = qualitative_stats(summer_games, cols_cualitativas)

# Guardar datos en un archivo CSV
winter_stats.to_csv(
    "descriptors/olympics_qualitative-winter.csv", index=False, decimal=","
)
summer_stats.to_csv(
    "descriptors/olympics_qualitative-summer.csv", index=False, decimal=","
)

# Mostrar el DataFrame de estadÃ­sticas
summer_stats

,Columna,Moda,Moda (#),Moda (%),Total de valores,Valores unicos (#),Valores unicos (%),Valores nulos (%)
1,Nombre,Robert Tait McKenzie,58,0.03,222552,116122,52.18,0
2,Sexo,M,163109,73.29,222552,2,0.00,0
3,Equipo,United States,14526,6.53,222552,1157,0.52,0
4,NOC,USA,15064,6.77,222552,230,0.10,0
5,Entidad,United States of America,15064,6.77,222203,222,0.10,0.16
6,RegiÃ³n,United States,15064,6.77,222531,195,0.09,0.01
7,RegiÃ³n (ISO),USA,15064,6.77,222430,203,0.09,0.05
8,Temporada,Verano,222552,100,222552,1,0.00,0
9,Juegos,Verano 2000,13821,6.21,222552,29,0.01,0
10,Ciudad,London,22426,10.08,222552,23,0.01,0
11,Pais anfitriÃ³n,United States,27504,12.36,222552,19,0.01,0
12,Pais anfitriÃ³n (ISO),USA,27504,12.36,222552,19,0.01,0
13,Deporte,Athletics,38624,17.36,222552,52,0.02,0
14,Evento,Football,6745,3.03,222552,452,0.20,0
15,Categoria evento,Masculino,149996,67.40,222552,3,0.00,0
16,Medalla,Oro,11459,5.15,34088,3,0.00,84.68

## Entradas por temporada

In [ ]:
# count the number of rows with each season
seasons = ol_data["Season"].value_counts()
seasons

Season
Summer    222552
Winter     48564
Name: count, dtype: int64

## Ciudades que han hosteado las olimpiadas

In [ ]:
# count the number of cities in which the olympics were held
cities = ol_data["City"].nunique()
cities

42

## Veces que se han hosteado las olimpiadas en cada ciudad

In [ ]:
# count how many times the olympics were held in each city
city_counts = ol_data["City"].value_counts()
city_counts.head()

City
London            22426
Athina            15556
Sydney            13821
Atlanta           13780
Rio de Janeiro    13688
Name: count, dtype: int64

## Atletas por pais

In [ ]:
# count the number of athletes from each country
athletes = ol_data["NOC"].value_counts()
athletes.head()

NOC
USA    18853
FRA    12758
GBR    12256
ITA    10715
GER     9830
Name: count, dtype: int64

## Atletas por temporada

In [ ]:
# count the number of athletes that are from each season
athletes_season = ol_data.groupby("Season")["Name"].nunique()
athletes_season

Season
Summer    116122
Winter     18923
Name: Name, dtype: int64

## Atletas por aÃ±o

In [ ]:
# count the number of athletes per year
athletes_year = ol_data.groupby("Year")["Name"].nunique()
athletes_year.head()

Year
1896     176
1900    1220
1904     650
1906     841
1908    2024
Name: Name, dtype: int64

## Medallas ganadas por pais

In [ ]:
# Count the number of medals won by each country
medal_counts = ol_data.groupby("NOC")["Medal"].count()
medal_counts.sort_values(ascending=False).head()

NOC
USA    5637
URS    2503
GER    2165
GBR    2068
FRA    1777
Name: Medal, dtype: int64

## Medallas ganadas por atleta

In [ ]:
# count the atheletes who won the most medals
most_medals = ol_data.groupby("Name")["Medal"].count()
most_medals.sort_values(ascending=False).head()

Name
Michael Fred Phelps, II               28
Larysa Semenivna Latynina (Diriy-)    18
Nikolay Yefimovich Andrianov          15
Takashi Ono                           13
Borys Anfiyanovych Shakhlin           13
Name: Medal, dtype: int64

## Atletas por deporte

In [ ]:
# count the most popular sports == the sports with the most athletes
popular_sports = ol_data["Sport"].value_counts()
popular_sports.head()

Sport
Athletics     38624
Gymnastics    26707
Swimming      23195
Shooting      11448
Cycling       10859
Name: count, dtype: int64

## Atletas por evento

In [ ]:
# count the most popular events == the events with the most athletes
popular_events = ol_data["Event"].value_counts()
popular_events.head()

Event
Football Men's Football        5733
Ice Hockey Men's Ice Hockey    4762
Hockey Men's Hockey            3958
Water Polo Men's Water Polo    3358
Basketball Men's Basketball    3280
Name: count, dtype: int64

## Deportes antiguos que aun se existen

In [ ]:
# Find the first year each event was held
first_year = ol_data.groupby("Event")["Year"].min()

# Find the most recent year in the data
latest_year = ol_data["Year"].max()

# Find the events held in the most recent year
latest_events = ol_data[ol_data["Year"] == latest_year]["Event"].unique()

# Count the number of events that were first held in the earliest year and are still being held
oldest_events_still_held = first_year[first_year.index.isin(latest_events)]

oldest_events_still_held

Event
Archery Men's Individual                          1972
Archery Men's Team                                1988
Archery Women's Individual                        1972
Archery Women's Team                              1988
Athletics Men's 1,500 metres                      1896
                                                  ...
Wrestling Women's Flyweight, Freestyle            2004
Wrestling Women's Heavyweight, Freestyle          2004
Wrestling Women's Light-Heavyweight, Freestyle    2016
Wrestling Women's Lightweight, Freestyle          2004
Wrestling Women's Middleweight, Freestyle         2004
Name: Year, Length: 306, dtype: int64

## Atletas por sexo

In [ ]:
# count the number of athletes for each sex
athletes_sex = data["Sex"].value_counts()
athletes_sex

Sex
M    196594
F     74522
Name: count, dtype: int64

## Atletas por sexo y pais

In [ ]:
# count the athletes by sex and country
athletes_by_sex_country = data.groupby(["Sex", "NOC"]).size().reset_index(name="Count")
athletes_by_sex_country.head()

  Sex  NOC  Count
0   F  AFG      5
1   F  AHO     12
2   F  ALB     27
3   F  ALG     94
4   F  AND     42

## Atletas por sexo y deporte

In [ ]:
# count the athletes by sex and sport
athletes_by_sex_sport = data.groupby(["Sex", "Sport"]).size().reset_index(name="Count")
athletes_by_sex_sport.head()

  Sex             Sport  Count
0   F     Alpine Skiing   3398
1   F          Alpinism      1
2   F           Archery   1015
3   F  Art Competitions    377
4   F         Athletics  11666

## Medallas ganadas por pais (por tipo de medalla)

In [ ]:
# count the countries that have won the most of each medal
gold_countries = data[data["Medal"] == "Gold"]["NOC"].value_counts()
silver_countries = data[data["Medal"] == "Silver"]["NOC"].value_counts()
bronze_countries = data[data["Medal"] == "Bronze"]["NOC"].value_counts()

gold_countries.head(), silver_countries.head(), bronze_countries.head()

(NOC
 USA    2638
 URS    1082
 GER     745
 GBR     678
 ITA     575
 Name: count, dtype: int64,
 NOC
 USA    1641
 GBR     739
 URS     732
 GER     674
 FRA     610
 Name: count, dtype: int64,
 NOC
 USA    1358
 GER     746
 URS     689
 FRA     666
 GBR     651
 Name: count, dtype: int64)

## Deportes por temporada

In [ ]:
# count the number of sports held in each season
sports_season = data.groupby("Season")["Sport"].nunique()
sports_season

Season
Summer    52
Winter    17
Name: Sport, dtype: int64

## Eventos por temporada

In [ ]:
# count the number of events held in each season
events_season = data.groupby("Season")["Event"].nunique()
events_season

Season
Summer    651
Winter    119
Name: Event, dtype: int64