# Data load

In [93]:
import pandas as pd


def custom_formatter(x):
    if x % 1 == 0:
        return f"{x:.0f}"
    else:
        return f"{x:.2f}"


pd.options.display.float_format = custom_formatter

data = pd.read_csv("datasets/olympics.csv")
data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170,60,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29,179,89,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27,176,59,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27,176,59,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30,185,96,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34,185,96,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [94]:
data.dtypes

ID          int64
Name       object
Sex        object
Age       float64
Height    float64
Weight    float64
Team       object
NOC        object
Games      object
Year        int64
Season     object
City       object
Sport      object
Event      object
Medal      object
dtype: object

# Clean up

In [95]:
# drop unnecessary columns
ol_data = data.drop(['Games'], axis=1)
ol_data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24,180,80,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170,60,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [96]:
# translate the column names to spanish
ol_data.columns = [
    "ID",
    "Nombre",
    "Sexo",
    "Edad",
    "Altura",
    "Peso",
    "Equipo",
    "NOC",
    "AÃ±o",
    "Temporada",
    "Ciudad",
    "Deporte",
    "Evento",
    "Medalla",
]
ol_data.head()

,ID,Nombre,Sexo,Edad,Altura,Peso,Equipo,NOC,AÃ±o,Temporada,Ciudad,Deporte,Evento,Medalla
0,1,A Dijiang,M,24,180,80,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170,60,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [97]:
# add a column for the BMI
ol_data['IMC'] = ol_data['Peso'] / (ol_data['Altura'] / 100) ** 2
ol_data.head()

,ID,Nombre,Sexo,Edad,Altura,Peso,Equipo,NOC,AÃ±o,Temporada,Ciudad,Deporte,Evento,Medalla,IMC
0,1,A Dijiang,M,24,180,80,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,24.69
1,2,A Lamusi,M,23,170,60,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,20.76
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,NaN
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,23.96

In [98]:
# translate the values in the "Medalla" column to spanish
ol_data['Medalla'] = ol_data['Medalla'].map(
    {'Gold': 'Oro', 'Silver': 'Plata', 'Bronze': 'Bronce'}
)
ol_data.head()

,ID,Nombre,Sexo,Edad,Altura,Peso,Equipo,NOC,AÃ±o,Temporada,Ciudad,Deporte,Evento,Medalla,IMC
0,1,A Dijiang,M,24,180,80,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,24.69
1,2,A Lamusi,M,23,170,60,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,20.76
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Oro,NaN
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,23.96

In [99]:
# translate summer and winter games to spanish
ol_data['Temporada'] = ol_data['Temporada'].map(
    {'Summer': 'Verano', 'Winter': 'Invierno'}
)
ol_data.head()

,ID,Nombre,Sexo,Edad,Altura,Peso,Equipo,NOC,AÃ±o,Temporada,Ciudad,Deporte,Evento,Medalla,IMC
0,1,A Dijiang,M,24,180,80,China,CHN,1992,Verano,Barcelona,Basketball,Basketball Men's Basketball,NaN,24.69
1,2,A Lamusi,M,23,170,60,China,CHN,2012,Verano,London,Judo,Judo Men's Extra-Lightweight,NaN,20.76
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920,Verano,Antwerpen,Football,Football Men's Football,NaN,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900,Verano,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Oro,NaN
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988,Invierno,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,23.96

In [100]:
# translate the values in the "Deporte" column to spanish
english_sports = [
    "Basketball",
    "Judo",
    "Football",
    "Tug-Of-War",
    "Speed Skating",
    "Cross Country Skiing",
    "Athletics",
    "Ice Hockey",
    "Swimming",
    "Badminton",
    "Sailing",
    "Biathlon",
    "Gymnastics",
    "Art Competitions",
    "Alpine Skiing",
    "Handball",
    "Weightlifting",
    "Wrestling",
    "Luge",
    "Water Polo",
    "Hockey",
    "Rowing",
    "Bobsleigh",
    "Fencing",
    "Equestrianism",
    "Shooting",
    "Boxing",
    "Taekwondo",
    "Cycling",
    "Diving",
    "Canoeing",
    "Tennis",
    "Modern Pentathlon",
    "Figure Skating",
    "Golf",
    "Softball",
    "Archery",
    "Volleyball",
    "Synchronized Swimming",
    "Table Tennis",
    "Nordic Combined",
    "Baseball",
    "Rhythmic Gymnastics",
    "Freestyle Skiing",
    "Rugby Sevens",
    "Trampolining",
    "Beach Volleyball",
    "Triathlon",
    "Ski Jumping",
    "Curling",
    "Snowboarding",
    "Rugby",
    "Short Track Speed Skating",
    "Skeleton",
    "Lacrosse",
    "Polo",
    "Cricket",
    "Racquets",
    "Motorboating",
    "Military Ski Patrol",
    "Croquet",
    "Jeu De Paume",
    "Roque",
    "Alpinism",
    "Basque Pelota",
    "Aeronautics",
]
spanish_sports = [
    "Baloncesto",
    "Judo",
    "FÃºtbol",
    "Tira de cuerda",
    "Patinaje de velocidad",
    "EsquÃ­ de fondo",
    "Atletismo",
    "Hockey sobre hielo",
    "NataciÃ³n",
    "BÃ¡dminton",
    "Vela",
    "BiatlÃ³n",
    "Gimnasia",
    "Competencias de arte",
    "EsquÃ­ alpino",
    "Balonmano",
    "Levantamiento de pesas",
    "Lucha",
    "Luge",
    "Polo acuÃ¡tico",
    "Hockey",
    "Remo",
    "Bobsleigh",
    "Esgrima",
    "EquitaciÃ³n",
    "Tiro",
    "Boxeo",
    "Taekwondo",
    "Ciclismo",
    "Clavados",
    "Canoa",
    "Tenis",
    "PentatlÃ³n moderno",
    "Patinaje artÃ­stico",
    "Golf",
    "Softbol",
    "Tiro con arco",
    "Voleibol",
    "NataciÃ³n sincronizada",
    "Tenis de mesa",
    "Combinada nÃ³rdica",
    "BÃ©isbol",
    "Gimnasia rÃ­tmica",
    "EsquÃ­ estilo libre",
    "Rugby 7",
    "TrampolÃ­n",
    "Voleibol de playa",
    "TriatlÃ³n",
    "Salto de esquÃ­",
    "Curling",
    "Snowboard",
    "Rugby",
    "Patinaje de velocidad en pista corta",
    "Skeleton",
    "Lacrosse",
    "Polo",
    "CrÃ­quet",
    "Raquetas",
    "Motonautismo",
    "Patrulla militar de esquÃ­",
    "Croquet",
    "Juego de palma",
    "Roque",
    "Alpinismo",
    "Pelota vasca",
    "AeronÃ¡utica",
]

ol_data['Deporte'] = ol_data['Deporte'].map(dict(zip(english_sports, spanish_sports)))
ol_data.head()

,ID,Nombre,Sexo,Edad,Altura,Peso,Equipo,NOC,AÃ±o,Temporada,Ciudad,Deporte,Evento,Medalla,IMC
0,1,A Dijiang,M,24,180,80,China,CHN,1992,Verano,Barcelona,Baloncesto,Basketball Men's Basketball,NaN,24.69
1,2,A Lamusi,M,23,170,60,China,CHN,2012,Verano,London,Judo,Judo Men's Extra-Lightweight,NaN,20.76
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920,Verano,Antwerpen,FÃºtbol,Football Men's Football,NaN,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900,Verano,Paris,Tira de cuerda,Tug-Of-War Men's Tug-Of-War,Oro,NaN
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988,Invierno,Calgary,Patinaje de velocidad,Speed Skating Women's 500 metres,NaN,23.96

In [101]:
cities_countries = {
    "Barcelona": "EspaÃ±a",
    "London": "Reino Unido",
    "Antwerpen": "BÃ©lgica",
    "Paris": "Francia",
    "Calgary": "CanadÃ¡",
    "Albertville": "Francia",
    "Lillehammer": "Noruega",
    "Los Angeles": "Estados Unidos",
    "Salt Lake City": "Estados Unidos",
    "Helsinki": "Finlandia",
    "Lake Placid": "Estados Unidos",
    "Sydney": "Australia",
    "Atlanta": "Estados Unidos",
    "Stockholm": "Suecia",
    "Sochi": "Rusia",
    "Nagano": "JapÃ³n",
    "Torino": "Italia",
    "Beijing": "China",
    "Rio de Janeiro": "Brasil",
    "Athina": "Grecia",
    "Squaw Valley": "Estados Unidos",
    "Innsbruck": "Austria",
    "Sarajevo": "Bosnia y Herzegovina",
    "Mexico City": "MÃ©xico",
    "Munich": "Alemania",
    "Seoul": "Corea del Sur",
    "Berlin": "Alemania",
    "Oslo": "Noruega",
    "Cortina d'Ampezzo": "Italia",
    "Melbourne": "Australia",
    "Roma": "Italia",
    "Amsterdam": "PaÃ­ses Bajos",
    "Montreal": "CanadÃ¡",
    "Moskva": "Rusia",
    "Tokyo": "JapÃ³n",
    "Vancouver": "CanadÃ¡",
    "Grenoble": "Francia",
    "Sapporo": "JapÃ³n",
    "Chamonix": "Francia",
    "St. Louis": "Estados Unidos",
    "Sankt Moritz": "Suiza",
    "Garmisch-Partenkirchen": "Alemania",
}


# Map the Ciudad column to the NOC codes
ol_data["Pais anfitriÃ³n"] = ol_data["Ciudad"].map(cities_countries)

# Define the new column order
column_order = ol_data.columns.tolist()
ciudad_index = column_order.index("Ciudad")
column_order.insert(
    ciudad_index + 1, column_order.pop(column_order.index("Pais anfitriÃ³n"))
)

# Create a new DataFrame with the columns in the desired order
ol_data = ol_data[column_order]
ol_data.head()

,ID,Nombre,Sexo,Edad,Altura,Peso,Equipo,NOC,AÃ±o,Temporada,Ciudad,Pais anfitriÃ³n,Deporte,Evento,Medalla,IMC
0,1,A Dijiang,M,24,180,80,China,CHN,1992,Verano,Barcelona,EspaÃ±a,Baloncesto,Basketball Men's Basketball,NaN,24.69
1,2,A Lamusi,M,23,170,60,China,CHN,2012,Verano,London,Reino Unido,Judo,Judo Men's Extra-Lightweight,NaN,20.76
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920,Verano,Antwerpen,BÃ©lgica,FÃºtbol,Football Men's Football,NaN,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900,Verano,Paris,Francia,Tira de cuerda,Tug-Of-War Men's Tug-Of-War,Oro,NaN
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988,Invierno,Calgary,CanadÃ¡,Patinaje de velocidad,Speed Skating Women's 500 metres,NaN,23.96

In [102]:
# Read the noc_regions.csv file into a pandas DataFrame
noc_regions = pd.read_csv("datasets/noc_regions.csv")

# Select only the NOC and region columns from noc_regions
noc_regions = noc_regions[['NOC', 'region']]

# Merge the original DataFrame (ol_data) with the noc_regions DataFrame
# The merge is done based on the "NOC" column
# The "how='left'" part means that all the rows from ol_data and only the ones from noc_regions that match will be kept
ol_data = ol_data.merge(noc_regions, on="NOC", how="left")

# Display the first few rows of the resulting DataFrame
ol_data.head()

,ID,Nombre,Sexo,Edad,Altura,Peso,Equipo,NOC,AÃ±o,Temporada,Ciudad,Pais anfitriÃ³n,Deporte,Evento,Medalla,IMC,region
0,1,A Dijiang,M,24,180,80,China,CHN,1992,Verano,Barcelona,EspaÃ±a,Baloncesto,Basketball Men's Basketball,NaN,24.69,China
1,2,A Lamusi,M,23,170,60,China,CHN,2012,Verano,London,Reino Unido,Judo,Judo Men's Extra-Lightweight,NaN,20.76,China
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920,Verano,Antwerpen,BÃ©lgica,FÃºtbol,Football Men's Football,NaN,NaN,Denmark
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,1900,Verano,Paris,Francia,Tira de cuerda,Tug-Of-War Men's Tug-Of-War,Oro,NaN,Denmark
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,1988,Invierno,Calgary,CanadÃ¡,Patinaje de velocidad,Speed Skating Women's 500 metres,NaN,23.96,Netherlands

In [103]:
# Rename the 'region' column to 'Region'
ol_data = ol_data.rename(columns={"region": "Region"})

# Define the new column order
column_order = ol_data.columns.tolist()
noc_index = column_order.index("NOC")
column_order.insert(noc_index + 1, column_order.pop(column_order.index("Region")))

# Create a new DataFrame with the columns in the desired order
ol_data = ol_data[column_order]
ol_data.head()

,ID,Nombre,Sexo,Edad,Altura,Peso,Equipo,NOC,Region,AÃ±o,Temporada,Ciudad,Pais anfitriÃ³n,Deporte,Evento,Medalla,IMC
0,1,A Dijiang,M,24,180,80,China,CHN,China,1992,Verano,Barcelona,EspaÃ±a,Baloncesto,Basketball Men's Basketball,NaN,24.69
1,2,A Lamusi,M,23,170,60,China,CHN,China,2012,Verano,London,Reino Unido,Judo,Judo Men's Extra-Lightweight,NaN,20.76
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,Denmark,1920,Verano,Antwerpen,BÃ©lgica,FÃºtbol,Football Men's Football,NaN,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark/Sweden,DEN,Denmark,1900,Verano,Paris,Francia,Tira de cuerda,Tug-Of-War Men's Tug-Of-War,Oro,NaN
4,5,Christine Jacoba Aaftink,F,21,185,82,Netherlands,NED,Netherlands,1988,Invierno,Calgary,CanadÃ¡,Patinaje de velocidad,Speed Skating Women's 500 metres,NaN,23.96

In [104]:
# save the modified data to a new csv file
ol_data.to_csv("datasets/olympics_spanish.csv", index=False)

# Analysis

## Valores faltantes

In [16]:
# count the total number cells
print("Total cells:", ol_data.size)

# count the total number of cells with missing values
print("Total missing cells:", ol_data.isnull().sum().sum())

Total cells: 3795624
Total missing cells: 428116

In [17]:
# Count the number of unique values in each column
unique_values = ol_data.nunique()

# Convert the Series to a DataFrame
unique_values_df = unique_values.to_frame().reset_index()

# Rename the columns
unique_values_df.columns = ["Columna", "Dominio"]

# Save the DataFrame to a CSV file
unique_values_df.to_csv("descriptors/olympics_unique_values.csv", index=False, decimal='.')
unique_values_df

      Columna  Dominio
0      Nombre   134732
1        Sexo        2
2        Edad       74
3      Altura       95
4        Peso      220
5      Equipo     1184
6         NOC      230
7         AÃ±o       35
8   Temporada        2
9      Ciudad       42
10    Deporte       66
11     Evento      765
12    Medalla        3
13        IMC     3861

In [18]:
# count the number of missing values in each column
missing = ol_data.isnull().sum()
missing = missing[missing > 0]
missing.sort_values(inplace=True)
missing.drop('Medalla', inplace=True)
missing

Edad       9474
Altura    60171
Peso      62875
IMC       64263
dtype: int64

## Separacion por tipos de juegos

In [19]:
# divide the DataFrame into two separate DataFrames
# one for the summer games and one for the winter games
summer_games = ol_data[ol_data.Temporada == 'Summer']
winter_games = ol_data[ol_data.Temporada == 'Winter']

## `.describe` con valores de skewness y curtosis

In [21]:
from statistics_calc import descriptors

# Generate descriptors
winter_desc = descriptors(winter_games)
summer_desc = descriptors(summer_games)

# Create a dictionary mapping English descriptors to Spanish
spanish_descriptors = {
    "count": "cuenta",
    "mean": "media",
    "std": "desviaciÃ³n estÃ¡ndar",
    "min": "mÃ­nimo",
    "25%": "25%",
    "50%": "50%",
    "75%": "75%",
    "max": "mÃ¡ximo",
    "skewness": "asimetrÃ­a",
    "kurtosis": "curtosis",
    "IQR": "RIC",
}

# Rename the rows of the DataFrames
winter_desc.rename(index=spanish_descriptors, inplace=True)
summer_desc.rename(index=spanish_descriptors, inplace=True)

# Export the DataFrame to a CSV file
winter_desc.to_csv("descriptors/olympics-winter.csv", decimal=",")
summer_desc.to_csv("descriptors/olympics-summer.csv", decimal=",")

winter_desc

                       Edad  Altura    Peso      AÃ±o       IMC
cuenta                48279   40250   39543    48564     39492
media                 25.04  174.59   70.76  1987.83     23.05
desviaciÃ³n estÃ¡ndar    4.78    8.60   12.21    22.07      2.50
mÃ­nimo                   11     137      32     1924     13.77
25%                      22     168      62     1972     21.30
50%                      24     175      70     1994     22.84
75%                      28     181      79     2006     24.54
mÃ¡ximo                   58     211     145     2014     39.54
asimetrÃ­a              0.76   -0.15    0.38    -0.93      0.53
curtosis               1.35   -0.36   -0.10     0.17      0.64
RIC                       6      13      17       34      3.25
valores totales     1208865 7027252 2798034 96536738 910281.49

## Variables cualitativas

In [49]:
from statistics_calc import qualitative_stats

# Columnas cualitativas de interÃ©s
cols_cualitativas = [
    "Nombre",
    "Sexo",
    "Equipo",
    "NOC",
    "Temporada",
    "Ciudad",
    "Deporte",
    "Evento",
    "Medalla",
    "IMC"
]

# Generate statistics
winter_stats = qualitative_stats(winter_games, cols_cualitativas)
summer_stats = qualitative_stats(summer_games, cols_cualitativas)

# Guardar datos en un archivo CSV
winter_stats.to_csv("descriptors/olympics_quality-winter.csv", index=False, decimal=",")
summer_stats.to_csv("descriptors/olympics_quality-summer.csv", index=False, decimal=",")

# Mostrar el DataFrame de estadÃ­sticas
winter_stats

,Columna,Moda,Moda (#),Moda (%),Valores unicos (#),Valores unicos (%),Valores nulos (%)
1,Nombre,Ole Einar Bjrndalen,27,0.06,18923,38.97,0
2,Sexo,M,33485,68.95,2,0.00,0
3,Equipo,United States,3321,6.84,221,0.46,0
4,NOC,USA,3789,7.80,119,0.25,0
5,Temporada,Winter,48564,100,1,0.00,0
6,Ciudad,Sochi,4891,10.07,19,0.04,0
7,Deporte,Cross Country Skiing,9133,18.81,17,0.04,0
8,Evento,Ice Hockey Men's Ice Hockey,4702,9.68,119,0.25,0
9,Medalla,Gold,1913,3.94,3,0.01,88.27
10,IMC,21.60,241,0.50,1575,3.24,18.68

## Entradas por temporada

In [46]:
# count the number of rows with each season
seasons = ol_data['Season'].value_counts()
seasons

Season
Summer    222552
Winter     48564
Name: count, dtype: int64

## Ciudades que han hosteado las olimpiadas

In [47]:
# count the number of cities in which the olympics were held
cities = ol_data['City'].nunique()
cities

42

## Veces que se han hosteado las olimpiadas en cada ciudad

In [49]:
# count how many times the olympics were held in each city
city_counts = ol_data['City'].value_counts()
city_counts.head()

City
London            22426
Athina            15556
Sydney            13821
Atlanta           13780
Rio de Janeiro    13688
Name: count, dtype: int64

## Atletas por pais

In [51]:
# count the number of athletes from each country
athletes = ol_data['NOC'].value_counts()
athletes.head()

NOC
USA    18853
FRA    12758
GBR    12256
ITA    10715
GER     9830
Name: count, dtype: int64

## Atletas por temporada

In [55]:
# count the number of athletes that are from each season
athletes_season = ol_data.groupby('Season')['Name'].nunique()
athletes_season

Season
Summer    116122
Winter     18923
Name: Name, dtype: int64

## Atletas por aÃ±o

In [57]:
# count the number of athletes per year
athletes_year = ol_data.groupby('Year')['Name'].nunique()
athletes_year.head()

Year
1896     176
1900    1220
1904     650
1906     841
1908    2024
Name: Name, dtype: int64

## Medallas ganadas por pais

In [66]:
# Count the number of medals won by each country
medal_counts = ol_data.groupby('NOC')['Medal'].count()
medal_counts.sort_values(ascending=False).head()

NOC
USA    5637
URS    2503
GER    2165
GBR    2068
FRA    1777
Name: Medal, dtype: int64

## Medallas ganadas por atleta

In [67]:
# count the atheletes who won the most medals
most_medals = ol_data.groupby('Name')['Medal'].count()
most_medals.sort_values(ascending=False).head()

Name
Michael Fred Phelps, II               28
Larysa Semenivna Latynina (Diriy-)    18
Nikolay Yefimovich Andrianov          15
Takashi Ono                           13
Borys Anfiyanovych Shakhlin           13
Name: Medal, dtype: int64

## Atletas por deporte

In [68]:
# count the most popular sports == the sports with the most athletes
popular_sports = ol_data['Sport'].value_counts()
popular_sports.head()

Sport
Athletics     38624
Gymnastics    26707
Swimming      23195
Shooting      11448
Cycling       10859
Name: count, dtype: int64

## Atletas por evento

In [69]:
# count the most popular events == the events with the most athletes
popular_events = ol_data['Event'].value_counts()
popular_events.head()

Event
Football Men's Football        5733
Ice Hockey Men's Ice Hockey    4762
Hockey Men's Hockey            3958
Water Polo Men's Water Polo    3358
Basketball Men's Basketball    3280
Name: count, dtype: int64

## Deportes antiguos que aun se existen

In [82]:
# Find the first year each event was held
first_year = ol_data.groupby('Event')['Year'].min()

# Find the most recent year in the data
latest_year = ol_data['Year'].max()

# Find the events held in the most recent year
latest_events = ol_data[ol_data['Year'] == latest_year]['Event'].unique()

# Count the number of events that were first held in the earliest year and are still being held
oldest_events_still_held = first_year[first_year.index.isin(latest_events)]

oldest_events_still_held

Event
Archery Men's Individual                          1972
Archery Men's Team                                1988
Archery Women's Individual                        1972
Archery Women's Team                              1988
Athletics Men's 1,500 metres                      1896
                                                  ...
Wrestling Women's Flyweight, Freestyle            2004
Wrestling Women's Heavyweight, Freestyle          2004
Wrestling Women's Light-Heavyweight, Freestyle    2016
Wrestling Women's Lightweight, Freestyle          2004
Wrestling Women's Middleweight, Freestyle         2004
Name: Year, Length: 306, dtype: int64

## Atletas por sexo

In [83]:
# count the number of athletes for each sex
athletes_sex = data['Sex'].value_counts()
athletes_sex

Sex
M    196594
F     74522
Name: count, dtype: int64

## Atletas por sexo y pais

In [73]:
# count the athletes by sex and country
athletes_by_sex_country = data.groupby(['Sex', 'NOC']).size().reset_index(name='Count')
athletes_by_sex_country.head()

  Sex  NOC  Count
0   F  AFG      5
1   F  AHO     12
2   F  ALB     27
3   F  ALG     94
4   F  AND     42

## Atletas por sexo y deporte

In [75]:
# count the athletes by sex and sport
athletes_by_sex_sport = data.groupby(['Sex', 'Sport']).size().reset_index(name='Count')
athletes_by_sex_sport.head()

  Sex             Sport  Count
0   F     Alpine Skiing   3398
1   F          Alpinism      1
2   F           Archery   1015
3   F  Art Competitions    377
4   F         Athletics  11666

## Medallas ganadas por pais (por tipo de medalla)

In [76]:
# count the countries that have won the most of each medal
gold_countries = data[data['Medal'] == 'Gold']['NOC'].value_counts()
silver_countries = data[data['Medal'] == 'Silver']['NOC'].value_counts()
bronze_countries = data[data['Medal'] == 'Bronze']['NOC'].value_counts()

gold_countries.head(), silver_countries.head(), bronze_countries.head()

(NOC
 USA    2638
 URS    1082
 GER     745
 GBR     678
 ITA     575
 Name: count, dtype: int64,
 NOC
 USA    1641
 GBR     739
 URS     732
 GER     674
 FRA     610
 Name: count, dtype: int64,
 NOC
 USA    1358
 GER     746
 URS     689
 FRA     666
 GBR     651
 Name: count, dtype: int64)

## Deportes por temporada

In [78]:
# count the number of sports held in each season
sports_season = data.groupby('Season')['Sport'].nunique()
sports_season

Season
Summer    52
Winter    17
Name: Sport, dtype: int64

## Eventos por temporada

In [79]:
# count the number of events held in each season
events_season = data.groupby('Season')['Event'].nunique()
events_season

Season
Summer    651
Winter    119
Name: Event, dtype: int64