In [14]:
import pandas as pd

schooling_data = pd.read_csv("datasets/expected-years-of-schooling.csv")
schooling_data.head()

        Entity Code  Year  Expected Years of Schooling (years)
0  Afghanistan  AFG  1990                                  2.6
1  Afghanistan  AFG  1991                                  2.9
2  Afghanistan  AFG  1992                                  3.2
3  Afghanistan  AFG  1993                                  3.6
4  Afghanistan  AFG  1994                                  3.9

In [15]:
# translate the columns to spanish
schooling_data.columns = ["Entidad", "Código", "Año", "Años de escolaridad esperados"]
schooling_data.head()

       Entidad Código   Año  Años de escolaridad esperados
0  Afghanistan    AFG  1990                            2.6
1  Afghanistan    AFG  1991                            2.9
2  Afghanistan    AFG  1992                            3.2
3  Afghanistan    AFG  1993                            3.6
4  Afghanistan    AFG  1994                            3.9

In [16]:
# save the translated data to csv
schooling_data.to_csv("datasets/expected-years-of-schooling-spanish.csv", index=False)

In [9]:
schooling_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5142 entries, 0 to 5141
Data columns (total 4 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Entidad                        5142 non-null   object
 1   Código                         5124 non-null   object
 2   Año                            5142 non-null   int64
 3   Años de escolaridad esperados  5142 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 160.8+ KB

In [10]:
from statistics_calc import descriptors

# Generate descriptors
desc = descriptors(schooling_data)

# Export the DataFrame to a CSV file
desc.to_csv("descriptors/schooling.csv", decimal=",")

desc

                  Año  Años de escolaridad esperados
count     5142.000000                    5142.000000
mean      2003.810968                      11.748269
std          8.037650                       3.346839
min       1990.000000                       2.100000
25%       1997.000000                       9.800000
50%       2004.000000                      12.100000
75%       2011.000000                      13.975000
max       2017.000000                      23.300000
skewness    -0.049536                      -0.356944
kurtosis    -1.185758                       0.064490
IQR         14.000000                       4.175000

In [11]:
from statistics_calc import qualitative_stats

# Columnas cualitativas de interés
cols_cualitativas = ["Entity", "Code"]

# Generate statistics
estadisticas = qualitative_stats(schooling_data, cols_cualitativas)

# Guardar datos en un archivo CSV
estadisticas.to_csv("descriptors/schooling_quality.csv", index=False, decimal=",")

# Mostrar el DataFrame de estadísticas
estadisticas

KeyError: 'Entity'

In [ ]:
# count the number of missing values in each column
missing = schooling_data.isnull().sum()
missing = missing[missing > 0]
missing.sort_values(inplace=True)
missing

Code    18
dtype: int64

In [ ]:
# Count the number of unique values in each column
unique_values = schooling_data.nunique()

# Convert the Series to a DataFrame
unique_values_df = unique_values.to_frame().reset_index()

# Rename the columns
unique_values_df.columns = ["Columna", "Dominio"]

# Save the DataFrame to a CSV file
unique_values_df.to_csv(
    "descriptors/schooling_unique_values.csv", index=False, decimal="."
)
unique_values_df

                               Columna  Dominio
0                               Entity      193
1                                 Code      192
2                                 Year       28
3  Expected Years of Schooling (years)      187

In [ ]:
# count the number of cells with missing values
missing_values = schooling_data.isnull().sum().sum()
missing_values

18

In [ ]:
# drop the rows with missing values in the code column
schooling_data_clean = schooling_data.dropna(subset=["Code"])

# count the total number of cells
print("Total number of cells:", schooling_data_clean.size)

Total number of cells: 20496